<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="KDS_CONNECTION" value="Password=nghhi24;User ID=kdsadmin_gw;Data Source=kdsdev" />-->
    <add key="KDS_CONNECTION" value="Password=maayan;User ID=kdsadmin;Data Source=kdstst"/>
    <add key="KDS_TNPR_CONNECTION" value="Password=KDS_GW030160;User ID=kds_gw;Data Source=tnpr" />
    <add key="MOVMENTSQL" value="select * from movment" />
    <add key="ERRMOVESQL" value="select * from Err_mov" />
    <add key="NUMTABLEMOVMENT" value="5" />
    <add key="NUMTABLEERRMOVE" value="5" />
    <add key="SmtpHost" value="outlook.egged.co.il"/>
    <add key="UserMail" value="EGGED_D\runbatch"/>
    <add key="PasswordMail" value="runbatch"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IMalalbinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://harmonytst01/eharmony/interface/syInterface.dll/soap/IMalal"
                binding="basicHttpBinding" bindingConfiguration="IMalalbinding"
                contract="syInterfaceWS.IMalal" name="IMalalPort" />
        </client>
    </system.serviceModel>
</configuration>