<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="KDS_CONNECTION" value="Password=nghhi24;User ID=kdsadmin_gw;Data Source=kdsdev" />-->
    <add key="KDS_CONNECTION" value="Password=maayan;User ID=kdsadmin;Data Source=kdstst" />
    <add key="KDS_TNPR_CONNECTION" value="Password=KDS_GW030160;User ID=kds_gw;Data Source=tnpr" />
    <add key="MOVMENTSQL" value="select * from movment  " />
    <add key="ERRMOVESQL" value="select * from Err_mov" />
    <add key="NUMTABLEMOVMENT" value="6" />
    <add key="NUMTABLEERRMOVE" value="6" />
    <add key="SmtpHost" value="outlook.egged.co.il" />
    <add key="UserMail" value="EGGED_D\runbatch" />
    <add key="PasswordMail" value="runbatch" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IMalalbinding" 
                 maxBufferPoolSize="2147483647" 
                 maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647"
                 textEncoding="utf-8" 
                 transferMode="Buffered" 
                 useDefaultWebProxy="true"
                 messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" 
                        maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647" 
                        maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647" />
        </binding>

      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://harmonytst01/eharmony/interface/syInterface.dll/soap/IMalal" binding="basicHttpBinding" bindingConfiguration="IMalalbinding" contract="syInterfaceWS.IMalal" name="IMalalPort" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>