<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IMalalbinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://harmonytst01/eharmony/interface/syInterface.dll/soap/IMalal"
                binding="basicHttpBinding" bindingConfiguration="IMalalbinding"
                contract="syInterfaceWS.IMalal" name="IMalalPort" />
        </client>
    </system.serviceModel>
</configuration>