<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="HeavyReportsUrl" value="http://kdstest/HeavyReports/"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="fullPhysPathRikuzDoc" value="\\kdstest\PrintFiles\\kds\\Rikuzim"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="fullPhysPathHefreshDoc" value="\\kdstest\PrintFiles\\kds\\RikuzimHefresh"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PhysPathRikuzimAda" value="\\kdstest\PrintFiles\\kds\\Rikuzim\\Ada\\"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="KdsFilePath" value="\\kdstest\Files\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PathFileTransfer" value="\\kdstest\PrintFiles\kds\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PremiaFolder" value="c:" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="KdsCalculFileName" value="..\KdsCalcul\KdsCalcul.exe" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--<add key="KdsCalculFileName" value="..\..\..\KdsCalcul\bin\x86\KdsTest\KdsCalcul.exe" xdt:Transform="Replace" xdt:Locator="Match(key)"/>-->
    <add key="ServiceName" value="KdsTestService" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
  </appSettings>

  <system.serviceModel xdt:Transform="Replace">
    <behaviors>
      <serviceBehaviors>
        <behavior name="KdsService.Service1Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="KdsService.Service1Behavior" name="KdsService.BatchService">
        <endpoint address="" binding="wsHttpBinding" contract="KDSCommon.Interfaces.Service.IBatchService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/KdsService/Test/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
 
  
    <system.net xdt:Transform="Insert">
      <connectionManagement>
        <add address = "*" maxconnection="100" />
      </connectionManagement>
  </system.net>
 <applicationSettings  xdt:Transform="Replace">
    <KdsBatch.Properties.Settings>
      <setting name="wsLocalProcesses" serializeAs="String">
        <value>http://kdstest/Modules/WebServices/wsLocalProcesses.asmx</value>
      </setting>
    </KdsBatch.Properties.Settings>
  </applicationSettings>
</configuration>