<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="KDS_CONNECTION" value="Password=nghhi24;User ID=kdsadmin_gw;Data Source=kdsprd" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="HeavyReportsUrl" value="http://kds/HeavyReports/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ServerReports" value="http://kds/ReportServer" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReportingServices.reportExecution2005" value="http://kds/ReportServer/ReportExecution2005.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="url_2008" value="http://kds/ReportServer" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="service_url_2008" value="http://kds/ReportServer/ReportExecution2005.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="url_2012" value="http://ksafimrs01/ReportServer" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="service_url_2012" value="http://ksafimrs01/ReportServer/ReportExecution2005.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="fullPhysPathRikuzDoc" value="\\kdsappl02\PrintFiles\\kds\\Rikuzim" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="fullPhysPathHefreshDoc" value="\\kdsappl02\PrintFiles\\kds\\RikuzimHefresh" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PhysPathRikuzimAda" value="\\kdsappl02\PrintFiles\\kds\\Rikuzim\\Ada\\Temp\\request\\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PathFileMF" value="\\kdsappl02\PrintFiles\FileReports\MF" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PathFileMFOld" value="\\kdsappl02\PrintFiles\FileReports\MF\Old\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="KdsFilePath" value="\\kdsappl02\Files\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PathFileTransfer" value="\\kdsappl02\PrintFiles\kds\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DisplayNameServer" value="Kdam Sachar Service-Prod" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MailErrorWorkCard" value="meravn@egged.co.il;utyBe@Egged.co.il;tomerh@egged.co.il" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PremiaFolder" value="\\kdsappl02\Files\Premia"  xdt:Transform="Replace" xdt:Locator="Match(key)"/> 
    <add key="KdsCalculFileName" value="..\KdsCalcul\KdsCalcul.exe" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SdrnStatTimes" value="3" xdt:Transform="Insert"/>
    <add key="ServiceName" value="KdsListenerProd" xdt:Transform="Replace" xdt:Locator="Match(key)"/>


  </appSettings>

  <system.serviceModel xdt:Transform="Replace">
    <behaviors>
      <serviceBehaviors>
        <behavior name="KdsService.Service1Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="KdsService.Service1Behavior" name="KdsService.BatchService">
        <endpoint address="" binding="wsHttpBinding" contract="KDSCommon.Interfaces.Service.IBatchService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/KdsService/Prod/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <oracle.dataaccess.client  xdt:Transform="Replace">
    <settings>
      <add name="COLL_CHISHUV_CHODESH" value="udtMapping factoryName='KDSCommon.UDT.COLL_CHISHUV_CHODESHFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_CHISHUV_CHODESH'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_CHISHUV_CHODESH" value="udtMapping factoryName='KDSCommon.UDT.OBJ_CHISHUV_CHODESHFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_CHISHUV_CHODESH'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="COLL_CHISHUV_YOMI" value="udtMapping factoryName='KDSCommon.UDT.COLL_CHISHUV_YOMIFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_CHISHUV_YOMI'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_CHISHUV_YOMI" value="udtMapping factoryName='KDSCommon.UDT.OBJ_CHISHUV_YOMIFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_CHISHUV_YOMI'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="COLL_CHISHUV_SIDUR" value="udtMapping factoryName='KDSCommon.UDT.COLL_CHISHUV_SIDURFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_CHISHUV_SIDUR'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_CHISHUV_SIDUR" value="udtMapping factoryName='KDSCommon.UDT.OBJ_CHISHUV_SIDURFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_CHISHUV_SIDUR'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="COLL_YAMEY_AVODA_OVDIM" value="udtMapping factoryName='KDSCommon.UDT.COLL_YAMEY_AVODA_OVDIMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_YAMEY_AVODA_OVDIM'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_YAMEY_AVODA_OVDIM" value="udtMapping factoryName='KDSCommon.UDT.OBJ_YAMEY_AVODA_OVDIMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_YAMEY_AVODA_OVDIM'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="COLL_SIDURIM_OVDIM" value="udtMapping factoryName='KDSCommon.UDT.COLL_SIDURIM_OVDIMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_SIDURIM_OVDIM'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_SIDURIM_OVDIM" value="udtMapping factoryName='KDSCommon.UDT.OBJ_SIDURIM_OVDIMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_SIDURIM_OVDIM'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="COLL_OBJ_PEILUT_OVDIM" value="udtMapping factoryName='KDSCommon.UDT.COLL_OBJ_PEILUT_OVDIMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_OBJ_PEILUT_OVDIM'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_PEILUT_OVDIM" value="udtMapping factoryName='KDSCommon.UDT.OBJ_PEILUT_OVDIMFactory, KDSCommon,                    Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_PEILUT_OVDIM'                    schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_SHGIOT_MEUSHAROT" value="udtMapping factoryName='KDSCommon.UDT.OBJ_SHGIOT_MEUSHAROTFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_SHGIOT_MEUSHAROT'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="COLL_SHGIOT_MEUSHAROT" value="udtMapping factoryName='KDSCommon.UDT.COLL_SHGIOT_MEUSHAROTFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_SHGIOT_MEUSHAROT'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_IDKUN_RASHEMET" value="udtMapping factoryName='KDSCommon.UDT.OBJ_IDKUN_RASHEMETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_IDKUN_RASHEMET'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="COLL_IDKUN_RASHEMET" value="udtMapping factoryName='KDSCommon.UDT.COLL_IDKUN_RASHEMETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_IDKUN_RASHEMET'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_OVDIM_IM_SHINUY_HR" value="udtMapping factoryName='KDSCommon.UDT.OBJ_OVDIM_IM_SHINUY_HRFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_OVDIM_IM_SHINUY_HR'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="COLL_OVDIM_IM_SHINUY_HR" value="udtMapping factoryName='KDSCommon.UDT.COLL_OVDIM_IM_SHINUY_HRFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_OVDIM_IM_SHINUY_HR'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_BREROT_MECHDAL_MEAFYENIM" value="udtMapping factoryName='KDSCommon.UDT.OBJ_BREROT_MECHDAL_MEAFYENIMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_BREROT_MECHDAL_MEAFYENIM'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="COLL_BREROT_MECHDAL_MEAFYENIM" value="udtMapping factoryName='KDSCommon.UDT.COLL_BREROT_MECHDAL_MEAFYENIMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_BREROT_MECHDAL_MEAFYENIM'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_REPORT_PARAM" value="udtMapping factoryName='KDSCommon.UDT.OBJ_REPORT_PARAMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_REPORT_PARAM'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="COLL_REPORT_PARAM" value="udtMapping factoryName='KDSCommon.UDT.COLL_REPORT_PARAMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_REPORT_PARAM'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_MISPAR_ISHI_SUG_CHISHUV" value="udtMapping factoryName='KDSCommon.UDT.OBJ_MISPAR_ISHI_SUG_CHISHUVFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_MISPAR_ISHI_SUG_CHISHUV'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="COLL_MISPAR_ISHI_SUG_CHISHUV" value="udtMapping factoryName='KDSCommon.UDT.COLL_MISPAR_ISHI_SUG_CHISHUVFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_MISPAR_ISHI_SUG_CHISHUV'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_RIKUZ_PDF" value="udtMapping factoryName='KDSCommon.UDT.OBJ_RIKUZ_PDFFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_RIKUZ_PDF'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="COLL_RIKUZ_PDF" value="udtMapping factoryName='KDSCommon.UDT.COLL_RIKUZ_PDFFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_RIKUZ_PDF'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_LOG_DAY_KELET" value="udtMapping factoryName='KDSCommon.UDT.OBJ_LOG_DAY_KELETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_LOG_DAY_KELET'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="COLL_LOG_DAY_KELET" value="udtMapping factoryName='KDSCommon.UDT.COLL_LOG_DAY_KELETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_LOG_DAY_KELET'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_LOG_SIDUR_KELET" value="udtMapping factoryName='KDSCommon.UDT.OBJ_LOG_SIDUR_KELETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_LOG_SIDUR_KELET'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="COLL_LOG_SIDUR_KELET" value="udtMapping factoryName='KDSCommon.UDT.COLL_LOG_SIDUR_KELETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_LOG_SIDUR_KELET'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_LOG_PEILUT_KELET" value="udtMapping factoryName='KDSCommon.UDT.OBJ_LOG_PEILUT_KELETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_LOG_PEILUT_KELET'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="COLL_LOG_PEILUT_KELET" value="udtMapping factoryName='KDSCommon.UDT.COLL_LOG_PEILUT_KELETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_LOG_PEILUT_KELET'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="OBJ_BUDGET" value="udtMapping factoryName='KDSCommon.UDT.OBJ_BUDGETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_BUDGET'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
      <add name="COLL_BUDGET" value="udtMapping factoryName='KDSCommon.UDT.COLL_BUDGETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_BUDGET'        schemaName='KDSADMIN' dataSource='kdsprd'"/>
    </settings>
  </oracle.dataaccess.client>

  <system.net xdt:Transform="Insert">
    <connectionManagement>
      <add address = "*" maxconnection="100" />
    </connectionManagement>
  </system.net>

</configuration>