<div ng-controller="ovedPeiluyotController as sidurimController">

    <!--<div ng-repeat="sidur in sidurimController.Sidurim">
        <div>
            <span>{{sidur.MisparSidur.Value}}</span>
        </div>
    </div>-->

    <!-- <table>
        <thead>
            <tr>
                <th></th>
                <th>מס סידור</th>
                <th>שעת התחלה</th>

            </tr>
        </thead>
        <tbody>
            <span>asdasd</span>
            <tr ng-repeat="sidur in sidurimController.Sidurim">
                <td>
                    <button type="button" class="btn" data-toggle="collapse" data-target="#collapseRow{{$index}}">
                        Click to expand
                    </button>
                </td>
                <td>{{sidur.MisparSidur.Value}}</td>
                <td>{{sidur.FullShatHatchala.Value}}</td>

            </tr>
            <tr id="collapseRow{{$index}}" class="collapse out">
                <td>some text</td>
            </tr>
        </tbody>
    </table>-->
    <br />
    <table ng-show="sidurimController.Sidurim.length > 0">
        <thead>
            <tr class="OvedDetailsHeaderNew" style="height: 40px">
                <th class="CellListViewNew" style="width: 2%">הוסף</th>
                <th class="CellListViewNew" style="width: 6%">מס סידור</th>
                <th class="CellListViewNew" style="width: 7%">שעת התחלה</th>
                <th class="CellListViewNew" style="width: 7%">שעת סיום</th>
                <th class="CellListViewNew" style="width: 12%">סיבת אי החתמה כניסה</th>
                <th class="CellListViewNew" style="width: 12%">סיבת אי החתמה יציאה</th>
                <th class="CellListViewNew" style="width: 11%">שעת התחלה לתשלום</th>
                <th class="CellListViewNew" style="width: 11%">שעת גמר לתשלום</th>
                <th class="CellListViewNew" style="width: 5%">חריגה</th>
                <th class="CellListViewNew" style="width: 5%">פיצול/ הפסקה</th>
                <!--<th class="CellListViewNew" style="width: 5%">המרה</th>-->
                <th class="CellListViewNew" style="width: 5%">השלמה</th>
                <th class="CellListViewNew" style="width: 5%">מ.ל.</th>
                <th class="CellListViewNew" style="width: 5%">לא לתש'</th>
                <th class="CellListViewNew">פעיל</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sidur in sidurimController.Sidurim" style="height: 40px; width: 100%">
                <td colspan="15">
                    <table style="width:100%">
                        <tr style="height:35px" class="WorkCardTable1">
                               <td  style="width: 2%">
                                <input type="image" src="../../../../Images/Plus.png" /> 
                            </td>
                         

                            <td  style="width: 6%"> 
                                <a  href="#" style="text-decoration: none">
                                 <img  ng-src="{{sidur.CollapseSrc.Value}}" ng-click="sidurimController.ChangeCollapeImg($index)" data-toggle="collapse" ng-show="sidur.PeilutList.length > 0" data-target="#collapseRow{{$index}}" /> 
                               </a>
                                {{sidur.MisparSidur.Value}}</td>
                            <td  style="width: 7%"> 
                                <input ui-mask="99:99"  type="text" value="{{sidur.FullShatHatchala.Value | date:'hh:mm'}}" ng-model="sidur.FullShatHatchala.Value">888</input>
                              </td>
                            <td  style="width: 7%">{{sidur.FullShatGmar.Value | date:'hh:mm'}}</td>
                            <td  style="width: 12%">                          
                                    <select name="SelectSibotIn" id="SelectSibotIn" style="width:160px" >
                                        <option ng-repeat="siba in sidurimController.SibotDivuachDLL" value="{{siba.Value}}">{{siba.Description}}</option>
                                    </select>
                            </td>
                            <td  style="width: 12%">
                                   <select name="SelectSibotOut" id="SelectSibotOut"  style="width:160px" >
                                    <option ng-repeat="siba in sidurimController.SibotDivuachDLL" value="{{siba.Value}}">{{siba.Description}}</option>
                                </select>
                              <!--  {{sidur.SibatHachtamaOut.Value}}-->

                            </td>
                            <td  style="width: 11%">{{sidur.FullShatHatchalaLetashlum.Value | date:'hh:mm' }}</td>
                            <td  style="width: 11%">{{sidur.FullShatGmarLetashlum.Value | date:'hh:mm' }}</td>
                            <td  style="width: 5%">
                                 <select name="SelectHariga" id="SelectHariga"   style="width:68px" >
                                    <option ng-repeat="h in sidurimController.HarigaDLL" value="{{h.Value}}">{{h.Description}}</option>
                                </select>
                            <!--    {{sidur.Hariga.Value}}-->
                            </td>
                            <td  style="width: 5%">
                                <select name="SelectPizul" id="SelectPizul"   style="width:80px" >
                                    <option ng-repeat="p in sidurimController.PizulDLL" value="{{p.Value}}">{{p.Description}}</option>
                                </select>
                               <!-- {{sidur.Pizul.Value}}-->

                            </td>
                         <!--   <td  style="width: 5%">{{sidur.Hamara.Value}}</td>-->
                            <td  style="width: 5%">
                                 <select name="SelectHashlama" id="SelectHashlama"   style="width:80px" >
                                    <option ng-repeat="h in sidurimController.HashlamaDLL" value="{{h.Value}}">{{h.Description}}</option>
                                </select>
                              <!--  {{sidur.Hashlama.Value}}--></td>
                            <td  style="width: 5%">
                                <input type="checkbox" />
                              <!--  {{sidur.OutMichsa.Value}}-->

                            </td>
                            <td  style="width: 5%">
                                <input type="checkbox" />

                               <!-- {{sidur.LoLetashlum.Value}}-->

                            </td>
                           
                            <td  >
                                   <input type="image" src="../../../../Images/Title_activeV.png" /> 
                            </td>
                        </tr>
                    </table>
                    <table style="width:100%" id="collapseRow{{$index}}" class="collapse in" ng-show="sidur.PeilutList.length > 0">
                        <thead>
                            <tr class="wcard_header">
                                <th style="width: 2%"></th>
                                <th style="width: 10%">ריקה</th>
                                <th style="width: 10%">כסוי תור</th>
                                <th style="width: 10%">ש. יציאה</th>
                                <th style="width: 25%">תאור</th>
                                <th style="width: 5%">קו</th>
                                <th style="width: 5%">סוג</th>
                                <th style="width: 10%">מק"ט</th>
                                <th style="width: 5%">ד. תכנון</th>
                                <th style="width: 5%">ד. בפועל</th>
                                <th style="width: 10%">מספר רכב</th>
                                <th style="width: 5%">נצ"ר</th>
                                <th style="width: 10%">פעיל</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="peilut in sidur.PeilutList">
                            <td></td>
                             <td>
                                   <input style="margin-left:15px" type="image" src="../../../../Images/down.png" />
                                   <input type="image" src="../../../../Images/up.png" />
                             </td>
                             <td>{{peilut.KisuyTor.Value}}</td>
                             <td>{{peilut.ShatYezia.Value | date:'hh:mm'}}</td>
                             <td>{{peilut.Teur.Value}}</td>
                             <td>{{peilut.Kav.Value}}</td>
                             <td>{{peilut.Sug.Value}}</td>
                             <td><input type="text" value="{{peilut.Makat.Value}}" style="width:100px"  /></td>
                             <td><input type="text" value="{{peilut.NumOto.Value}}" style="width:60px"  /></td>
                             <td>{{peilut.DakotTichnun.Value}}</td>
                             <td><input type="text" value="{{peilut.DakotBafoal.Value}}" style="width:60px"  /></td>
                             <td>{{peilut.Nezer.Value}}</td>
                             <td>    <input type="image" src="../../../../Images/activeV.png" /> </td>
 
                          
                        </tr>

                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
