<div ng-controller="ovedGeneralDetailsController as ovedController" dir="rtl">
    <!--Header row of card. Including time and name-->
    <div class="row WorkCardTable1 WorkCardTable1Label">
        <div class="col-md-4 ">כרטיס עבודה</div>
        <div class="col-md-4 " align="center">
            <span>מעדכן אחרון:</span>
            <a href ng-click="ovedController.showLasModifierPopup()">{{ovedController.lastModifier}}</a>
        </div>
        <div class="col-md-4 " align="left">
            <span>תאריך עידכון אחרון:</span>
            <span>{{ovedController.lastModifyDate}}</span>
        </div>
    </div>


    <div class="row WorkCardTable1Label" style="height:40px">
        <div class="col-md-1" style="padding-right:70px;padding-left:0">מספר אישי:</div>
        <div class="col-md-1" style="margin-right:0;padding-right:0">
            <div angucomplete-alt id="mispar_ishi"
                placeholder=""
                maxlength="5"
                pause="500"
                selected-object="ovedController.SelectedEmployeeId"
                local-data="ovedController.EmployeeIds"
                search-fields="MisparIshi"
                title-field="MisparIshi"
                minlength="1"
                input-changed="ovedController.userIdinputChanged"
                input-class="cntlDis form-control-small"
                match-class="highlight"
                focus-in="focusTextById('mispar_ishi_value');"
                focus-out="ovedController.isUserIdValid();">
            </div>
        </div>
      
        <div class="col-md-1" style="padding-right:100px;padding-left:0;" >שם:</div>
      
         <div class="col-md-1" style="margin-right:0;padding-right:0">
            <div angucomplete-alt id="employee_name" 
                placeholder=""
                maxlength="10"
                pause="500"
                selected-object="ovedController.SelectedEmployeeName"
                local-data="ovedController.EmployeeNames"
                search-fields="EmployeeName"
                title-field="EmployeeName"
                minlength="1"
                input-changed="ovedController.userNameinputChanged"
                input-class="cntlDis form-control-small"
                match-class="highlight" 
                focus-in="focusTextById('employee_name_value');" 
                  focus-out="ovedController.isUserNameValid();">
            </div>
        </div>
    <!--    <input class="col-md-1" type="text" ng-model="ovedController.EmployeeName" />-->

        <span class="col-md-1">מעמד</span>
        <span class="col-md-1">
             <!-- <input id="txtId2" ng-change="ovedController.txtidChanged();"  kendo-auto-complete ng-model="ovedController.misparIshi" k-data-source="ovedController.EmployeeIds" style="width: 100%;" />

              <input id="txtName" ng-change="ovedController.txtNameChanged();"  kendo-auto-complete ng-model="ovedController.misparIshi" k-data-source="ovedController.EmployeeNames" style="width: 100%;" />-->

           <!--    <input type="text" data-ng-model="ovedController.misparIshi" list="comicstitle" />

               <datalist id="comicstitle" style="height:100px"  >
                <option  data-ng-repeat="ttl in ovedController.EmployeeIds" value="{{ttl.MisparIshi}}">
              </datalist>-->
          

            <label>{{ovedController.EmployeeMaamad}}</label>
        </span>

        <span class="col-md-2">תאריך  <input type="text" maxlength="10" ng-model="ovedController.cardDateStr" class="cntlDis" id="datepicker"></span>
      <!--  <p>Date: <input type="text" maxlength="10" ng-model="ovedController.cardDateStr" id="datepicker"></p>
        <input class="col-md-1" type="date" ng-model="ovedController.cardDate" />-->

        <span class="col-md-1"> יום 
            <label>{{ ovedController.lblDay }}</label>
        </span>
       

         <input class="col-md-1" type="button" ng-click="ovedController.getPeiluyot();" value="הצג" />

        <span class="col-md-1 text-left" ng-class="ovedController.status.ClassStr" >
           <!-- <div style="height:50px;width:100px;background-color:green">-->
              <label>{{ ovedController.status.TeurStatus }}</label> 
                <!--</div>-->
        </span>
    </div>


    <!-- <div>
        <span class="label label-primary">Misparishi: </span>
        <input type="text" ng-model="misparIshi" />
    </div>
    <div>
        <label>Date: </label>
        <input type="date" ng-model="cardDate" />
    </div>
    <div>
        <input type="button" ng-click="getOvedDetails()" value="Get Oved Details" />
    </div>
    <div>
        {{result}}        
    </div>


    <div>
        <modal-dialog show='modalShown2' width='400px' height='60%'>
          some content asdfsd fsdf sdf sdf sdf
        </modal-dialog>
    </div>-->

    <!--Pop ups-->
    <modal-dialog show='ovedController.modalLastUpdateShown' width='400px' height='60%'>
          <p></p>
           <table>
               <tr>
                   <th>Date</th>
                   <th>Name</th>
                   <th>Mispar</th>
               </tr>
               <tr ng-repeat="update in ovedController.LastUpdateWCList">
                   <td>{{update.UpdateDate}}</td>
                   <td>{{update.NameUpdater}}</td>   
                   <td>{{update.MisparIshi}}</td>   
               </tr>
               
           </table> 
     </modal-dialog>

    <modal-dialog show='ovedController.modalErrorsShown' width='400px' height='60%'>
           <p></p>
        <p>ארעה שגיאה</p>
        <p>{{ovedController.error}}</p>
    </modal-dialog>

</div>
