<div ng-controller="ovedGeneralDetailsController" dir="rtl">
    <!--Header row of card. Including time and name-->
    <div clas="row">
        <div class="col-md-4">כרטיס עבודה</div>
        <div class="col-md-4" align="center">
            <span>מעדכן אחרון:</span>
            <a href ng-click="showLasModifierPopup()">{{lastModifier}}</a>
        </div>
        <div class="col-md-4" align="left">
            <span>תאריך עידכון אחרון:</span>
            <span>{{lastModifyDate}}</span>
        </div>
    </div>
   
   

    <div>
        <span class="label label-primary">Misparishi: </span>
        <input type="text" ng-model="misparIshi" />
    </div>
    <div>
        <label>Date: </label>
        <input type="date" ng-model="cardDate" />
    </div>
    <div>
        <input type="button" ng-click="getOvedDetails()" value="Get Oved Details" />
    </div>
    <div>
        {{result}}        
    </div>


    <div>
        <modal-dialog show='modalShown2' width='400px' height='60%'>
          some content asdfsd fsdf sdf sdf sdf
        </modal-dialog>
    </div>

    <!--Pop ups-->
     <modal-dialog show='modalLastUpdateShown' width='400px' height='60%'>
          <p></p>
           <table>
               <tr>
                   <th>Date</th>
                   <th>Name</th>
                   <th>Mispar</th>
               </tr>
               <tr ng-repeat="update in LastUpdateWCList">
                   <td>{{update.UpdateDate}}</td>
                   <td>{{update.NameUpdater}}</td>   
                   <td>{{update.MisparIshi}}</td>   
               </tr>
               
           </table> 
     </modal-dialog>

    <modal-dialog show='modalErrorsShown' width='400px' height='60%'>
           <p></p>
        <p>ארעה שגיאה</p>
        <p>{{error}}</p>
    </modal-dialog>

</div>
