<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="KDS_CONNECTION" value="Password=nghhi24;User ID=kdsadmin_gw;Data Source=kdsdev" />
    <!--<add key="KDS_CONNECTION" value="Password=maayan;User ID=kdsadmin;Data Source=kdstst"/>-->
    <!--<add key="KDS_CONNECTION" value="Password=nghhi09;User ID=kdsadmin;Data Source=kdsprd"/>-->
    <add key="KDS_TNPR_CONNECTION" value="Password=KDS_GW030160;User ID=kds_gw;Data Source=tnpr" />
    <add key="DelayBetweenConnections" value="2" />
    <add key="PeilyutCacheTimeOutMinutes" value="30" />
    <add key="PhysPathRikuzimAda" value="C:\\PrintFiles\\kds\\Rikuzim\\Ada\\" />
    <add key="PathFileReports" value="C:\\PrintFiles\kds\" />
    <add key="RSUserName" value="runbatch" />
    <add key="RSPassword" value="runbatch" />
    <add key="RSDomain" value="EGGED_D" />
    <add key="RSFolderApplication" value="/KdsReports/" />
    <add key="RikuzRdlName" value="RikuzAvodaChodshi2" />
    <add key="ServerReports" value="http://kdstst02/ReportServer" />
    <add key="ReportingServices.reportExecution2005" value="http://kdstst02/ReportServer/ReportExecution2005.asmx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>