<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KdsBatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Test-->
    <!--<add key="KDS_CONNECTION" value="Password=nghhi24;User ID=kdsadmin_gw;Data Source=kdsdev"/>-->
    <add key="KDS_CONNECTION" value="Password=maayan;User ID=kdsadmin;Data Source=kdstst"/>
    <!--<add key="KDS_CONNECTION" value="Password=nghhi09;User ID=kdsadmin;Data Source=kdsprd" />-->
    <add key="KDS_TNPR_CONNECTION" value="Password=KDS_GW030160;User ID=kds_gw;Data Source=tnpr"/>
    <add key="KDS_APPS_CONNECTION" value="Password=maayan;User ID=kds_gw;Data Source=prod"/>
    <add key="Debug" value="1"/>
    <add key="EventLogSource" value="KdsTaskManager"/>
    <!--Production-->
    <!--<add key="ServerReports" value="http://kds/ReportServer"/>-->
    <!--Test-->
    <add key="ServerReports" value="http://kdstst01/ReportServer"/>
    <add key="OperatorSleepTime" value="1"/>
    <!--Premyot-->
    <add key="RSUserName" value="runbatch"></add>
    <add key="RSPassword" value="runbatch"></add>
    <add key="RSDomain" value="EGGED_D"></add>
    <!--every 10 minutes-->
    <!--time in sec-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="NoRep" value="donotreply@egged.co.il"/>
    <add key="SmtpHost" value="cas.egged.intra"/>
    <add key="UserMail" value="EGGED_D\runbatch"/>
    <add key="PasswordMail" value="runbatch"/>
    <!--scheduler parameter-->
    <add key="LogistKdsFilePath" value="\\fileserver01\public\Machlakot R-W\BitzueiOved\kds\"/>
    <add key="KdsInputFileName" value="DO1-KDS*.TXT"/>
    <!--Production-->
    <!--<add key="KdsFilePath" value="\\kdsappl01\Files\"/>-->
    <!--Test-->
    <add key="KdsFilePath" value="\\kdstst01\Files\"/>
    <add key="KdsFileSubPath" value="inkds_old\"/>
    <add key="miri" value="miris@egged.co.il"/>
    <add key="merav" value="meravn@egged.co.il"/>
    <add key="Environment" value="Test"/>
    <!--Test/Production-->
    <add key="SdrnStrtHour" value="5"/>
    <add key="SdrnStatTimes" value="3"/>
    <add key="SdrnReRunPar" value="10"/>
    <add key="DisplayNameServer" value="David's Machine"/>
    <add key="RecipientsMailList" value="meravn@egged.co.il"/>
    <!--scheduler parameter-->
    <!--Batch Calculation-->
    <add key="CntOfprocesses" value="5"/>
    <add key="KdsCalculFileName" value="KdsCalculTest.exe"/>
    <add key="SaveLogsShinuyeyKelet" value="false"/>
    <add key="CntHrChanges" value="20000"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.dataaccess.client>
    <settings>
      <add name="OBJ_LOGTASKMSG" value="udtMapping factoryName='KDSCommon.UDT.OBJ_LOGTASKMSGFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_LOGTASKMSG'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_CHISHUV_CHODESH" value="udtMapping factoryName='KDSCommon.UDT.COLL_CHISHUV_CHODESHFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_CHISHUV_CHODESH'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_CHISHUV_CHODESH" value="udtMapping factoryName='KDSCommon.UDT.OBJ_CHISHUV_CHODESHFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_CHISHUV_CHODESH'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_CHISHUV_YOMI" value="udtMapping factoryName='KDSCommon.UDT.COLL_CHISHUV_YOMIFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_CHISHUV_YOMI'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_CHISHUV_YOMI" value="udtMapping factoryName='KDSCommon.UDT.OBJ_CHISHUV_YOMIFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_CHISHUV_YOMI'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_CHISHUV_SIDUR" value="udtMapping factoryName='KDSCommon.UDT.COLL_CHISHUV_SIDURFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_CHISHUV_SIDUR'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_CHISHUV_SIDUR" value="udtMapping factoryName='KDSCommon.UDT.OBJ_CHISHUV_SIDURFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_CHISHUV_SIDUR'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_YAMEY_AVODA_OVDIM" value="udtMapping factoryName='KDSCommon.UDT.COLL_YAMEY_AVODA_OVDIMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_YAMEY_AVODA_OVDIM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_YAMEY_AVODA_OVDIM" value="udtMapping factoryName='KDSCommon.UDT.OBJ_YAMEY_AVODA_OVDIMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_YAMEY_AVODA_OVDIM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_SIDURIM_OVDIM" value="udtMapping factoryName='KDSCommon.UDT.COLL_SIDURIM_OVDIMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_SIDURIM_OVDIM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_SIDURIM_OVDIM" value="udtMapping factoryName='KDSCommon.UDT.OBJ_SIDURIM_OVDIMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_SIDURIM_OVDIM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_OBJ_PEILUT_OVDIM" value="udtMapping factoryName='KDSCommon.UDT.COLL_OBJ_PEILUT_OVDIMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_OBJ_PEILUT_OVDIM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_PEILUT_OVDIM" value="udtMapping factoryName='KDSCommon.UDT.OBJ_PEILUT_OVDIMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_PEILUT_OVDIM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_SHGIOT_MEUSHAROT" value="udtMapping factoryName='KDSCommon.UDT.OBJ_SHGIOT_MEUSHAROTFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_SHGIOT_MEUSHAROT'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_SHGIOT_MEUSHAROT" value="udtMapping factoryName='KDSCommon.UDT.COLL_SHGIOT_MEUSHAROTFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_SHGIOT_MEUSHAROT'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_IDKUN_RASHEMET" value="udtMapping factoryName='KDSCommon.UDT.OBJ_IDKUN_RASHEMETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_IDKUN_RASHEMET'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_IDKUN_RASHEMET" value="udtMapping factoryName='KDSCommon.UDT.COLL_IDKUN_RASHEMETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_IDKUN_RASHEMET'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_OVDIM_IM_SHINUY_HR" value="udtMapping factoryName='KDSCommon.UDT.OBJ_OVDIM_IM_SHINUY_HRFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_OVDIM_IM_SHINUY_HR'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_OVDIM_IM_SHINUY_HR" value="udtMapping factoryName='KDSCommon.UDT.COLL_OVDIM_IM_SHINUY_HRFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_OVDIM_IM_SHINUY_HR'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_BREROT_MECHDAL_MEAFYENIM" value="udtMapping factoryName='KDSCommon.UDT.OBJ_BREROT_MECHDAL_MEAFYENIMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_BREROT_MECHDAL_MEAFYENIM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_BREROT_MECHDAL_MEAFYENIM" value="udtMapping factoryName='KDSCommon.UDT.COLL_BREROT_MECHDAL_MEAFYENIMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_BREROT_MECHDAL_MEAFYENIM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_REPORT_PARAM" value="udtMapping factoryName='KDSCommon.UDT.OBJ_REPORT_PARAMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_REPORT_PARAM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_REPORT_PARAM" value="udtMapping factoryName='KDSCommon.UDT.COLL_REPORT_PARAMFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_REPORT_PARAM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_MISPAR_ISHI_SUG_CHISHUV" value="udtMapping factoryName='KDSCommon.UDT.OBJ_MISPAR_ISHI_SUG_CHISHUVFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_MISPAR_ISHI_SUG_CHISHUV'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_MISPAR_ISHI_SUG_CHISHUV" value="udtMapping factoryName='KDSCommon.UDT.COLL_MISPAR_ISHI_SUG_CHISHUVFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_MISPAR_ISHI_SUG_CHISHUV'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_RIKUZ_PDF" value="udtMapping factoryName='KDSCommon.UDT.OBJ_RIKUZ_PDFFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_RIKUZ_PDF'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_RIKUZ_PDF" value="udtMapping factoryName='KDSCommon.UDT.COLL_RIKUZ_PDFFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_RIKUZ_PDF'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_LOG_DAY_KELET" value="udtMapping factoryName='KDSCommon.UDT.OBJ_LOG_DAY_KELETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_LOG_DAY_KELET'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_LOG_DAY_KELET" value="udtMapping factoryName='KDSCommon.UDT.COLL_LOG_DAY_KELETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_LOG_DAY_KELET'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_LOG_SIDUR_KELET" value="udtMapping factoryName='KDSCommon.UDT.OBJ_LOG_SIDUR_KELETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_LOG_SIDUR_KELET'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_LOG_SIDUR_KELET" value="udtMapping factoryName='KDSCommon.UDT.COLL_LOG_SIDUR_KELETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_LOG_SIDUR_KELET'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_LOG_PEILUT_KELET" value="udtMapping factoryName='KDSCommon.UDT.OBJ_LOG_PEILUT_KELETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_LOG_PEILUT_KELET'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_LOG_PEILUT_KELET" value="udtMapping factoryName='KDSCommon.UDT.COLL_LOG_PEILUT_KELETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_LOG_PEILUT_KELET'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_BUDGET" value="udtMapping factoryName='KDSCommon.UDT.OBJ_BUDGETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_BUDGET'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_BUDGET" value="udtMapping factoryName='KDSCommon.UDT.COLL_BUDGETFactory, KDSCommon,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_BUDGET'        schemaName='KDSADMIN' dataSource='kdstst'"/>

      <!--<add name="COLL_CHISHUV_CHODESH" value="udtMapping factoryName='KdsLibrary.UDT.COLL_CHISHUV_CHODESHFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_CHISHUV_CHODESH'        schemaName='KDSADMIN' dataSource='kdsdev'"/>
      <add name="OBJ_CHISHUV_CHODESH" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_CHISHUV_CHODESHFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_CHISHUV_CHODESH'        schemaName='KDSADMIN' dataSource='kdsdev'"/>
      <add name="COLL_CHISHUV_YOMI" value="udtMapping factoryName='KdsLibrary.UDT.COLL_CHISHUV_YOMIFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_CHISHUV_YOMI'        schemaName='KDSADMIN' dataSource='kdsdev'"/>
      <add name="OBJ_CHISHUV_YOMI" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_CHISHUV_YOMIFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_CHISHUV_YOMI'        schemaName='KDSADMIN' dataSource='kdsdev'"/>
      <add name="COLL_CHISHUV_SIDUR" value="udtMapping factoryName='KdsLibrary.UDT.COLL_CHISHUV_SIDURFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_CHISHUV_SIDUR'        schemaName='KDSADMIN' dataSource='kdsdev'"/>
      <add name="OBJ_CHISHUV_SIDUR" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_CHISHUV_SIDURFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_CHISHUV_SIDUR'        schemaName='KDSADMIN' dataSource='kdsdev'"/>
      <add name="COLL_YAMEY_AVODA_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.COLL_YAMEY_AVODA_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_YAMEY_AVODA_OVDIM'        schemaName='KDSADMIN' dataSource='kdsdev'"/>
      <add name="OBJ_YAMEY_AVODA_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_YAMEY_AVODA_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_YAMEY_AVODA_OVDIM'        schemaName='KDSADMIN' dataSource='kdsdev'"/>
      <add name="COLL_SIDURIM_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.COLL_SIDURIM_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_SIDURIM_OVDIM'        schemaName='KDSADMIN' dataSource='kdsdev'"/>
      <add name="OBJ_SIDURIM_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_SIDURIM_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_SIDURIM_OVDIM'        schemaName='KDSADMIN' dataSource='kdsdev'"/>
      <add name="COLL_OBJ_PEILUT_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.COLL_OBJ_PEILUT_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_OBJ_PEILUT_OVDIM'        schemaName='KDSADMIN' dataSource='kdsdev'"/>
      <add name="OBJ_PEILUT_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_PEILUT_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_PEILUT_OVDIM'        schemaName='KDSADMIN' dataSource='kdsdev'"/>
      <add name="OBJ_SHGIOT_MEUSHAROT" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_SHGIOT_MEUSHAROTFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_SHGIOT_MEUSHAROT'        schemaName='KDSADMIN' dataSource='kdsdev'"/>
      <add name="OBJ_OVDIM_IM_SHINUY_HR" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_OVDIM_IM_SHINUY_HRFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_OVDIM_IM_SHINUY_HR'        schemaName='KDSADMIN' dataSource='kdsdev'"/>
      <add name="COLL_OVDIM_IM_SHINUY_HR" value="udtMapping factoryName='KdsLibrary.UDT.COLL_OVDIM_IM_SHINUY_HRFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_OVDIM_IM_SHINUY_HR'        schemaName='KDSADMIN' dataSource='kdsdev'"/>
      <add name="OBJ_BREROT_MECHDAL_MEAFYENIM" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_BREROT_MECHDAL_MEAFYENIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_BREROT_MECHDAL_MEAFYENIM'        schemaName='KDSADMIN' dataSource='kdsdev'"/>
      <add name="COLL_BREROT_MECHDAL_MEAFYENIM" value="udtMapping factoryName='KdsLibrary.UDT.COLL_BREROT_MECHDAL_MEAFYENIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_BREROT_MECHDAL_MEAFYENIM'        schemaName='KDSADMIN' dataSource='kdsdev'"/>-->



    </settings>
  </oracle.dataaccess.client>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBatchService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/KdsService/Test/" binding="wsHttpBinding" bindingConfiguration="" contract="KDSCommon.Interfaces.Service.IBatchService" name="" kind="" endpointConfiguration="">
      </endpoint>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <KdsBatch.Properties.Settings>
      <setting name="KdsBatch_premyot_wsPremyot" serializeAs="String">
        <value>http://premyottst.egged.intra/wsPremyot.asmx</value>
      </setting>
    </KdsBatch.Properties.Settings>
  </applicationSettings>
</configuration>
