<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KdsLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExchangeInfoServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tlv7-new/ExchangeInfo2008/ExchangeInfoService.asmx" binding="basicHttpBinding" bindingConfiguration="ExchangeInfoServiceSoap" contract="Exchange.ExchangeInfoServiceSoap" name="ExchangeInfoServiceSoap"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="SmtpHost" value="Mail01"/>
    <add key="NoRep" value="donotreply@egged.co.il"/>
    <add key="RSUserName" value="runbatch"/>
    <add key="RSPassword" value="runbatch"/>
    <add key="RSDomain" value="EGGED_D"/>
    <add key="RSFolderApplication" value="/KdsReports/"/>
    
    <add key="ServerReports" value="http://kdstst01/ReportServer"/>
    <add key="ReportingServices.reportExecution2005" value="http://kdstst01/ReportServer/ReportExecution2005.asmx"/>
    <add key="url_2008" value="http://kdstst01/ReportServer"/>
    <add key="service_url_2008" value="http://kdstst01/ReportServer/ReportExecution2005.asmx"/>


    <add key="url_2012" value="http://sql2012tst.egged.intra/ReportServer"/>
    <add key="service_url_2012" value="http://sql2012tst.egged.intra/ReportServer/ReportService2010.asmx"/>
  
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <KdsLibrary.Properties.Settings>
      <setting name="wsReportingServices" serializeAs="String">
        <value>http://KDSTST01:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
      <Setting name="KdsLibrary_ReportingServices2012_ReportExecutionService" serializeAs="String">
        <Value>http://sql2012tst.egged.intra:80/ReportServer/ReportExecution2005.asmx</Value>
      </Setting>
      <setting name="wsBarCode" serializeAs="String">
        <value>http://192.168.2.42/BarCode/wsBarcode.asmx</value>
      </setting>
    </KdsLibrary.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
