<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="KDS_CONNECTION" value="Password=nghhi24;User ID=kdsadmin_gw;Data Source=kdsdev"/>-->
    <!--<add key="KDS_CONNECTION" value="Password=maayan;User ID=kdsadmin;Data Source=kdstst"/>-->
    <add key="KDS_CONNECTION" value="Password=nghhi24;User ID=kdsadmin_gw;Data Source=kdstst" /> 
    <!--<add key="KDS_CONNECTION" value="Password=nghhi09;User ID=kdsadmin;Data Source=kdsprd"/>-->
    <add key="KDS_TNPR_CONNECTION" value="Password=KDS_GW030160;User ID=kds_gw;Data Source=tnpr"/>
    <add key="KDS_APPS_CONNECTION" value="Password=maayan;User ID=kds_gw;Data Source=prod"/>
    <add key="UsingCache" value="1"/>
    <add key="VersionNumber" value="1.0"/>
    <add key="CacheTimeOutMinutes" value="1440"/>
    <add key="PeilyutCacheTimeOutMinutes" value="30"/>
    <add key="ImpersonateUser" value="true"/>
    <add key="DebugModeUserName" value="false"/>
    <add key="DebugUserName" value="EGGED_D\shahafb"/>
    <add key="DebugModeProfile" value="false"/>
    <add key="DebugProfile" value="kds_administrators,Kds_Premia101,Kds_Premia102"/>
    <add key="WsBarcode" value="http://192.168.2.42/BarCode/barcode.aspx?scale=4"/>
    <!--this path is the folder defined in HeavyReportsUrl virtual directory-->
    <add key="HeavyReportsPath" value="C:\PrintFiles\HeavyReports\"/>
    <add key="HeavyReportsUrl" value="http://localhost/HeavyReports/"/>
    <!--<add key="ScannedFilesUrl" value="http://localhost/ScannedFiles/"/>-->
    <!--<add key="ScanFileExportPath" value="C:\\PrintFiles\\kds\\myExport.txt"/>-->
    <add key="RSUserName" value="runbatch"/>
    <add key="RSPassword" value="runbatch"/>
    <add key="RSDomain" value="EGGED_D"/>
    <add key="RSFolderApplication" value="/KdsReports/"/>
    <!--<add key="ServerReports" value="http://kdstest/ReportServer"/>-->
    <add key="ReportingServices.reportExecution2005" value="http://kdstest/ReportServer/ReportExecution2005.asmx"/>
    <add key="url_2008" value="http://kdstest/ReportServer"/>
    <add key="service_url_2008" value="http://kdstest/ReportServer/ReportExecution2005.asmx"/>
    <add key="url_2012" value="http://sql2012tst.egged.intra/ReportServer"/>
    <add key="service_url_2012" value="http://sql2012tst.egged.intra/ReportServer/ReportExecution2005.asmx"/>
    <add key="DebugBatchPopulation" value="true"/>
    <add key="ShowRunError" value="true"/>
    <add key="fullPhysPathRikuzDoc" value="C:\\PrintFiles\\kds\\Rikuzim"/>
    <add key="fullPhysPathHefreshDoc" value="C:\\PrintFiles\\kds\\RikuzimHefresh"/>
    <add key="SadeLeloErech" value="true"/>
    <add key="DisabledFieldsDriverStation" value="true"/>
    <!--<add key="DriverStation.WSkds" value="http://kioskkds/WSkds.asmx" />-->
    <!-- KdsInput -->
    <add key="LogistKdsFilePath" value="\\fileserver01\public\Machlakot R-W\BitzueiOved\kds\"/>
    <add key="KdsInputFileName" value="DO1-KDS*.TXT"/>
    <add key="KdsFilePath" value="\\kdstst02\Files\"/>
    <add key="KdsFileSubPath" value="inkds_old\"/>
    <add key="PathFileTransfer" value="C:\\PrintFiles\kds\"/>
    <add key="PathFileReports" value="C:\\PrintFiles\kds\"/>
    <add key="PathFileMF" value="C:\\PrintFiles\kds\MF\"/>
    <add key="PathFileReportsTemp" value="C:\\PrintFiles\kds\"/>
    <add key="PathFilePrintReports" value="C:\\PrintFiles\\kds\\"/>
    <add key="BlankCharFileHilan" value=" "/>
    <add key="TakanonSizialiCachName" value="TakanonDate"/>
    <add key="KdsInputFileNamePundakim" value="collectmodem.dat"/>
    <add key="KdsFilePathPundakim" value="\\kiwi\"/>
    <add key="KdsFileSubPathPundakim" value="synel\"/>
    <add key="KdsInputFileNameHarmony" value="A01SN_BUFFER_CLOCK*.DAT"/>
    
    <!-- KdsMail -->
    <add key="DisplayNameServer" value="Kdam Sachar"/>
    <add key="NoRep" value="donotreply@egged.co.il"/>
    <add key="waiman" value="waimanj@egged.co.il"/>
    <add key="tammy" value="Tammy@esi.co.il"/>
    <add key="miri" value="miris@egged.co.il"/>
    <add key="merav" value="meravn@egged.co.il"/>
    <add key="SmtpHost" value="cas.egged.intra"/>
    <add key="UserMail" value="EGGED_D\runbatch"/>
    <add key="PasswordMail" value="runbatch"/>
    <!--add key="SdrnStrtHour" value="5"/-->
    <add key="SdrnStrtHour" value="4"/>
    <!--add key="SdrnStatTimes" value="2"/-->
    <add key="SdrnStatTimes" value="3"/>
    <add key="SubCompanyFactor" value="63473"/>
    <add key="CompareImportPath" value="C:\\Files"/>
    <!--Batch Calculation-->
    <add key="CntOfprocesses" value="5"/>
    <add key="KdsCalculFileName" value="KdsCalculTest.exe"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="1200"/>
    <add key="PhysPathRikuzimAda" value="C:\\PrintFiles\\kds\\Rikuzim\\Ada\\"/>
    <add key="WriteToLog" value="1"/>
    <add key="MailErrorWorkCard" value="sarac@egged.co.il"/>
    <add key="DriverStation.WSkds" value="http://tnuawebtst/kiosk/WSkds.asmx"/>
  </appSettings>
</configuration>