
<div id="ovedDailyWorkDetailsDiv" ng-controller="ovedDailyWorkDetailsController as h" class="row WorkCardTable1Label" style="height:40px">
       <div class="col-md-1">טכוגרף:</div>
       <div class="col-md-1"> <select ng-model="h.DayDetails.Tachograf.Value" ng-options="i.Value as i.Description for i in h.TachgrafList" ng-change="DisabledControls()" title="{{ this.selected}}" >
                                    <option value="0" selected></option>
                                </select>
        </div>
       <div class="col-md-1">לינה:</div>
       <div class="col-md-1"> <select id="ddlLina" ng-model="h.DayDetails.Lina.Value" class="cntlDis"  ng-options="i.Value as i.Description for i in h.LinaList" ng-change="DisabledControls()">   </select>
       </div>
       
       <div class="col-md-1">הלבשה:</div>
       <div class="col-md-1"> <select ng-model="h.HalbashaVal" ng-options="i.Value as i.Description for i in h.HalbashaList" ng-change="DisabledControls();h.ChangeHalbashaSelect();">
                                </select>
       </div>
    <!--<div class="col-md-1">השלמה ליום:</div>
    <div class="col-md-1"> <input type="button" ng-model="h.HashlamaCBVal" id="btnHashlamaForDay" name="btnHashlamaForDay" ng-click="h.HashlamaForDay_Click();" ng-disabled="!h.DayDetails.HashlamaForDay.IsEnabled"  class="ImgButtonCheckBox" ng-style="{'background-image': 'url(' + h.btnHashlamaForDayImage + ')'}"   /></div>
    <div class="col-md-1">סיבה להשלמה:</div>
    <div class="col-md-1"><select ng-model="h.DayDetails.SibatHashlamaLeyom.Value" ng-options="i.Value as i.Description for i in h.HashlameLeYomList"  ng-disabled="!h.DayDetails.SibatHashlamaLeyom.IsEnabled" ng-change="DisabledControls()">
                                    <option value="0"></option>
                                </select>

    </div>-->
   <div class="col-md-2"> </div>
</div>  