
    <div  ng-controller="pirteyOvedDetailsController as p" class="row WorkCardTable1Label" style="height:40px">
       <div class="col-md-1">עיסוק:</div>
       <div class="col-md-1">{{ p.OvedDetails.TeurIsuk }}</div>
       <div class="col-md-1">חברה:</div>
       <div class="col-md-1">{{ p.OvedDetails.TeurHevra }}</div>
       <div class="col-md-1">סניף:</div>
       <div class="col-md-1">{{ p.OvedDetails.TeurSnif }}</div>
       <div class="col-md-1">איזור:</div>
       <div class="col-md-1">{{ p.OvedDetails.TeurEzor }}</div>
       <div class="col-md-4"> </div>
    </div>

