body 
{
	font-size:14px;
	font-family:Arial;
	direction:rtl;
	margin-right:0px;
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
}

.ErrorMessage
{
	color:Red;
	font-size:12px;
}
.DeleteError
{
	color:Black;
	background:white;
	font-size:12px;
}
.RaiseError
{
	color:White;
	background:Red;
	font-size:12px;
}
.collapsePanel	
{
    height:20px;
    padding:5px; 
    font-family:Arial;
    cursor: pointer; 
    color: Gray;
    font-weight:bold;     
}

.collapsePanelHeader	
{
    height:20px;
    width:565px;		
    float:left;
    padding:5px; 
    font-family:Arial;
    background-repeat:no-repeat;
    cursor: pointer; 
    color: Gray;
    font-weight:bold;
    
}

.clLevel0,.clLevel0over
{
	font-family:Arial; 
	font-size:14px; 
	text-align:right;
	color:white;
	padding:0px;
	margin:0px;
	font-weight:bold;
	background-color:#CE950F;
}

.clLevel0over 
{
	color:#003500; 
	font-weight:bold;
	background-color:#CE950F;
}

.clLevel1
{
	background-color:#F2C455; 
	color:#2C602F; 
	padding:3px;
	font-size:13px; 
	font-weight:bolder;
	text-align:right;
	font-family:Arial; 
	border-color:#CECECE;
	border-style:outset;
	border-width:1px;
	border-top:none;
	width:145px;
		 
}

.clLevel1over
{
	padding:2px;
	background-color:#F1F1F1;
	color:#696969; 
	padding:3px;
	font-weight:bolder;
	font-size:13px; 
	text-align:right;
	font-family:Arial; 
	border-color:#CECECE;
	border-style:outset;
	border-width:1px;
	border-top:none;	
	width:145px;
}

.HeaderLink
{
	font-family:Arial; 
	font-size:14px; 
	text-align:center;
	color:white;
	font-weight:bold;
	padding-right:6px;
	padding-left:6px;
	text-decoration:none;
}

.FilterFieldSet
{	
	border-style:solid; 
	border-width:1px; 
	border-color:Gray;
	font:16px;
	padding:0px;
	margin:0px;
	vertical-align:middle;
	text-align:right;
	width:1005px;
}

.WorkCardFieldSet
{
	width:930px;
	height:100px;
	border-style:solid; 
	border-width:1px; 
	border-color:#DFDFDF;
	font:16px;
	padding:2px;
	vertical-align:middle;
	color:Gray;
}
.FilterTable
{
	width:950px;
	height:35px;
}

.SelectedGridRow
{
    color:Black;
    background-color:#F7D995;
    height:20px;
    text-indent:4px;
    font-size:14px;
    font-weight:normal;
}
.SelectedGridRowNoIndent
{
    color:Black;
    background-color:#F7D995;
    height:20px;
    font-size:14px;
    font-weight:normal;
}
.Hidden
{
    display:none;
}

.DropDown
{
	width:100px;
	font-size:14px;	
	border-style:solid;
	border-color:#B4D2FE;
	font-family:Arial;
}

.SubTitleLabel
{
	color:#717071;
	font-size:14px;
	font-family:Arial;
	padding:2px;
	font-weight:bolder;
}

.InternalLabel
{
	color:Black;	
	font-family:Arial;	
}

.TextBox
{
	width:100px;
}



.ImgButtonSearch
{
		background-color:#CE940E;
		border-style:solid;
		border-color:#CE940E;
		border:0px;	
		width:60px; 
		font-size:16px;
		font-family:Arial;
		padding-top:0px;
		padding-bottom:0px;
		margin:0px;
		height:22px;
		font-weight:bolder;
		color:White;
		cursor:pointer;
}



.ImgButtonSearchDisable
{
	background-image: url(Images/btn-search-empty_disabled.jpg);
	border:none;
	width:60px; 
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	margin:0px;
	height:23px;
	font-weight:bolder;
	color:#686868;
	cursor:pointer;
}

.ImgChecked
{
	background-image: url(Images/Title_activeV.png);
	background-repeat:no-repeat;
	background-position:center;	
	border:none;
	width:25px; 
	height:40px;
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	height:19px;
	font-weight:bolder;
	color:White;
	cursor:pointer;	
}
.ImgCheckedDisable
{
	background-image: url(Images/Title_activeV_Dis.png);
	background-repeat:no-repeat;
	background-position:center;	
	border:none;
	width:25px; 
	height:40px;
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	height:19px;
	font-weight:bolder;
	color:White;
	cursor:pointer;	
}


.ImgCancel
{
	background-image: url(Images/activeX.png);
	background-position:center;
	background-repeat:no-repeat;	
	background-color:transparent;
	border:none;
	width:25px; 	
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	height:19px;
	font-weight:bolder;
	color:White;
	cursor:pointer;	
}
.ImgCancelDisable
{
	background-image: url(Images/activeX_Dis.png);
	background-position:center;
	background-repeat:no-repeat;	
	border:none;
	width:25px; 	
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	height:19px;
	font-weight:bolder;
	color:White;
	cursor:pointer;	
}


.ImgCheckedPeilut
{
	background-image: url(Images/activeV.png);
	background-repeat:no-repeat;
	background-position:center;	
	border:none;
	width:25px; 
	height:40px;
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	height:19px;
	font-weight:bolder;
	color:White;
	cursor:pointer;	
}
.ImgCheckedDisablePeilut
{
	background-image: url(Images/activeV_dis.png);
	background-repeat:no-repeat;
	background-position:center;	
	border:none;
	width:25px; 
	height:40px;
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	height:19px;
	font-weight:bolder;
	color:White;
	cursor:pointer;	
}


.ImgCancelPeilut
{
	background-image: url(Images/activeX.png);
	background-position:center;
	background-repeat:no-repeat;	
	border:none;
	width:25px; 	
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	height:19px;
	font-weight:bolder;
	color:White;
	cursor:pointer;	
}
.ImgCancelDisablePeilut
{
	background-image: url(Images/activeX_Dis.png);
	background-position:center;
	background-repeat:no-repeat;	
	border:none;
	width:25px; 	
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	height:19px;
	font-weight:bolder;
	color:White;
	cursor:pointer;	
}

.ImgButtonMake
{
	background-color:#CE940E;
	border-style:solid;
	border-color:white;
	border:1px;	
	width:60px; 
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	margin:0px;
	height:23px;
	font-weight:bolder;
	color:White;
	cursor:pointer;		
}

.ImgButtonOvedPrevDisable
{
	background-image: url(Images/btn-runall-empty-disable.jpg);
	border:none;	
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	height:19px;
	font-weight:bolder;
	color:#686868;
	cursor:pointer;
	width:120px; 
	background-repeat:no-repeat;
}

.ImgButtonOvedPrev
{
	background-image: url(Images/oved-prev.jpg);
	border:none;	
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	height:19px;
	font-weight:bolder;
	color:White;
	cursor:pointer;
	width:120px; 
	background-repeat:no-repeat;
}
.ImgButtonOvedNextDisable
{
	background-image: url(Images/btn-runall-empty-disable.jpg);
	border:none;	
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	height:19px;
	font-weight:bolder;
	color:White;
	cursor:pointer;
	width:120px; 
	background-repeat:no-repeat;
}
.ImgButtonOvedNext
{
	background-image: url(Images/oved-next.jpg);
	border:none;	
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	height:19px;
	font-weight:bolder;
	color:White;
	cursor:pointer;
	width:120px; 
	background-repeat:no-repeat;
}

.ImgButtonShow
{
	background-image: url(Images/showB.png);		
	width:55px; 
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	height:30px;
	font-weight:bolder;
	color: #627c98;
	cursor:pointer;
	background-position:center;
	background-attachment:inherit;	
	border-style:none;
	background-color:transparent;
}

.ImgButtonShowPlus
{
	background-image: url(Images/tabPlus.png);		
	height:15px;
	background-color:transparent;
	background-repeat:no-repeat;	
	border-style:none;		
	vertical-align:middle;
	background-position:right;
	cursor:pointer;	
}
.ImgButtonShowMinus
{
	background-image: url(Images/tabMinus.png);		
	height:15px;
	background-color:transparent;
	background-repeat:no-repeat;	
	border-style:none;		
	vertical-align:middle;
	background-position:right;
	cursor:pointer;	
}
.ImgButtonUpdate
{
	background-color:#CE940E;
	width:120px; 
	height:30px; 
	color: White;
	font-size:12px;
	font-family:Arial;
	font-weight:bolder;	
	cursor:pointer;	
	border-style:double;
	border-color:#CE940E;
	border:2px;	
	padding-top:0px;
	padding-bottom:0px;
}
.ImgButtonClose
{
	background-image: url(Images/btn-close.jpg);
	width:20px;
	height: 20px; 
}

.ImgErr
{
	background-image: url(Images/!.png);
	border:none;
	width:25px; 
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	height:15px;
	font-weight:bolder;
	color:White;
	background-repeat:no-repeat;	
}
.ImgButtonPlus
{
	background-image:url(Images/allscreens-plusbtn.jpg);
	width:20px;
	height: 20px; 	
}
.ImgButtonMinus
{
	background-image: url(Images/allscreens-minusbtn.jpg);	
	width:20px;
	height: 20px; 	
}
.ImgButtonCheckBox
{
	background-image: url(Images/allscreens-checkbox.jpg);	
	width:25px; 
	height:25px; 		
}
.ImgButtonCheckBoxEmpty
{
	background-image: url(Images/allscreens-checkbox-empty.jpg);	
	width:25px; 
	height:25px; 	
}

.ImgButtonApproval
{
	background-image: url(Images/Approval-btn.jpg);	
	width:120px; 
	height:30px; 
	color: White;		
}

.ImgButtonEndUpdate
{
	background-image: url(Images/btn-end-update.jpg);	
	width:120px; 
	height:30px; 
	color: White;		
}

.ImgButtonApprovalCheckedOld
{
	background-image: url(Images/btn-approval-checked.jpg);	
	width:80px; 
	height:30px; 	
	color: white;
	font-weight:bold;		
}
.ImgButtonApprovalRegularOld
{
	background-image: url(Images/btn-approval-regular.jpg);	
	width:80px; 
	height:30px; 
	color: White;	
	font-family:Arial;	
}
.ImgButtonApprovalChecked
{
	background-image: url(Images/B_approve_press.png);			
	color: black;
	text-align:center;		
	font-weight:bold;
	font-size:19px;	
	height:30px;
	width:90px;
	border-style:none; 
	background-color:transparent;
	font-family:Arial;
	vertical-align:bottom;
}
.ImgButtonApprovalCheckedDisabled
{
	background-image: url(Images/B_approve_press.png);	
	color: black;
	text-align:center;		
	font-weight:bold;
	font-size:19px;	
	height:30px;
	width:90px;
	border-style:none; 
	background-color:transparent;
	font-family:Arial;
	vertical-align:bottom;
}

.ImgButtonApprovalRegular
{
	background-image: url(Images/B_approve.png);	
	color: black;
	text-align:center;		
	font-weight:bold;
	font-size:19px;	
	height:30px;
	width:90px;
	border-style:none; 
	background-color:transparent;
	font-family:Arial;
	vertical-align:bottom;
}
.ImgButtonApprovalRegularDisabled
{
	background-image: url(Images/B_approve_Dis.png);	
	color: white;
	text-align:center;		
	font-weight:bold;
	font-size:19px;	
	height:30px;
	width:90px;
	border-style:none; 
	background-color:transparent;
	font-family:Arial;
	vertical-align:bottom;
}

.ImgButtonDisApproveChecked
{
	background-image: url(Images/B_Disapprove_Press.png);			
	color: white;
	text-align:center;		
	font-weight:bold;
	font-size:19px;	
	height:30px;
	width:90px;
	border-style:none; 
	background-color:transparent;
	font-family:Arial;
	vertical-align:bottom;
}
.ImgButtonDisApprovalCheckedDisabled
{
	background-image: url(Images/B_Disapprove_Dis.png);	
	color: white;
	text-align:center;		
	font-weight:bold;
	font-size:19px;	
	height:30px;
	width:90px;
	border-style:none; 
	background-color:transparent;
	font-family:Arial;
	vertical-align:bottom;
}
.ImgButtonDisApprovalRegular
{
	background-image: url(Images/B_Disapprove.png);	
	color: white;
	text-align:center;		
	font-weight:bold;
	font-size:19px;	
	height:30px;
	width:90px;
	border-style:none; 
	background-color:transparent;
	font-family:Arial;
	vertical-align:bottom;
}
.ImgButtonDisApprovalRegularDisabled
{
	background-image: url(Images/B_Disapprove_Dis.png);	
	color: black;
	text-align:center;		
	font-weight:bold;
	font-size:19px;	
	height:30px;
	width:90px;
	border-style:none; 
	background-color:transparent;	
	font-family:Arial;
	vertical-align:bottom;
}
.ImgBtnCStatusErr
{	
	width:140px; 
	height:30px; 
	color: Red;		
	font-family: @Arial Unicode MS;
	font-size :x-large;
	font-weight :bolder;
}
.ImgBtnCStatusValid
{
	width:140px; 
	height:30px; 
	color: Green;		
	font-family: @Arial Unicode MS;
	font-size :x-large;
	font-weight :bolder;
}
select
{
	font-family: Arial; 
	font-size: 12px; 
	font-weight:normal; 
	color: black; 
}

.HeaderBody
{
	background-image:url(Images/headline-bar.jpg);
	width:980px;
	color:White;
	font-family:Arial;
	font-size:17px;
	padding-right:10px;
	font-weight:bolder;
	background-repeat:no-repeat;
	background-position:right;
}

.ImgButtonRunWideXlDisabled
{
	background-color:#CE940E;
	border-style:solid;
	border-color:white;
	border:1px;	
	width:190px; 
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	margin:0px;
	height:23px;
	font-weight:bolder;
	color:White;
	cursor:pointer;
}

.ImgButtonRunWideDisable
{
    background-image: url(Images/btn-runall-empty-disable.jpg);
    border:none;
	width:150px; 
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	height:19px;
	font-weight:bolder;
}

.WorkCardPanelMessageBorder
{
 border-bottom :solid 1px #b9c1cc; 
 outline:solid 1px #b9c1cc;
}
.WorkCardRechivimTable
{
	border: solid 1px #627d98; 	
}

.WorkCardHosafatSidurGridItm
{
	font-family:Arial;
	font-size:16px;
	text-align:center;
	vertical-align:middle;
	background-color:#F7FAFC;
	color:#1A2125;
	height:26px;
}
.WorkCardHosafatSidurGridHeader
{	
	font-family:Arial;			
	font-size:16px;
	text-align:center;
	vertical-align:middle;	
	background-color:#D2E9F6;	
	border-color:#BDDFF5;
	border-style:solid;
	border-width:1px;
	padding:0px;
	margin:0px;
	height:26px;
}
.WorkCardHosafatSidur
{
	font-family:Arial;
	border: solid 1px #627d98; 		
	font-weight:bold;	
	font-size:16px;
	text-align:center;
	vertical-align:middle;	
	background-color:#F7FAFC;
	padding:0px;
	margin:0px;
}
.WorkCardKnisotHeader
{
	font-family:Arial;
	border: solid 1px #627d98; 	
	outline: solid 1px #627d98; 		
	font-weight:bold;	
	font-size:16px;
	text-align:center;
	vertical-align:middle;	
	background-color:#D4E4F3;
	padding:0px;
	margin:0px;
}
.WorkCardRechivimGridRow
{	
	font-family:Arial;
	border: solid 1px #A4B5C5; 				
	font-size:16px;
	text-align:center;
	vertical-align:middle;	
	background-color:#F6FBFF;
	color:black;
	padding:0px;
	margin:0px;
	height:26px;
}
.WorkCardRechivimGridHeader
{	
	font-family:Arial;
	border: solid 1px #627d98; 		
	font-size:16px;
	text-align:center;
	vertical-align:middle;	
	background-color:#627d98;
	color:White;
	padding:0px;
	margin:0px;
	height:26px;
}
.WorkCardRechivimHeader
{
	font-family:Arial;
	border: solid 1px #627d98; 		
	font-weight:bold;	
	font-size:16px;
	text-align:center;
	vertical-align:middle;	
	background-color:#D4E4F3;
	padding:0px;
	margin:0px;
}
.WorkCardRechivim
{
	font-family:Arial;	
	font-weight:bold;	
	text-align:center;	
	background-color:#f6fbff;
	padding:0px;
	margin:0px;
}

.PanelMessage
{
	border: outset 5px #E1E1E1; 
	width:240px;
	height :120px;
	font-size :14px;
	text-align:center;
	top:30%;
	left:40%;
	position:absolute;
	background-color:#E1E1E1;
	padding:0px;
	margin:0px;
}
.WorkCardPanelMessageHeader
{	
	font-family:Arial;
	font-size :16px;
	text-align:center;		
	background-color:#d4e4f3;
	font-weight:bold;
	padding:0px;
	margin:0px;
}
.WorkCardPanelTopTableMessage
{
	font-family:Arial;	
	font-weight:bold;
	font-size :16px;	
	text-align:right;	
	border-top-color:#b9c1cc;	
	background-color:#d4e4f3;
	padding:0px;
	margin:0px;
}
.WorkCardPanelMessageError
{
	font-family:Arial;
	border: solid 3px #7a7978; 		
	font-weight:bold;
	font-size :14px;
	text-align:center;	
	background-color:#f6fbff;
	padding:0px;
	margin:0px;
}
.WorkCardPanelMessage
{
	font-family:Arial;
	border: solid 3px #7a7978; 		
	font-weight:bold;
	font-size :14px;
    text-align  :center;	
	background-color:#edf4fa;
	padding:0px;
	margin:0px;
}
.WorkCardPanelMiddleMessage
{	
	font-family:Arial;
	font-weight:bold;
	font-size :14px;
	text-align:center;
	top:30%;
	left:40%;
	position:absolute;
	background-color:#edf4fa;
	padding:0px;
	margin:0px;
}
.AppMsg
{
	background-color:  #41BD5D;
	Color: White;
	text-align:right;
	font-weight:bold;	
}
.ErrMsg
{
	background-color:  #dd1f1f;
	Color: White;
	text-align:right;
	font-weight:bold;	
}
.WorkCardErrMsg
{
	background-color: #e62230;
	Color: White;
	font-weight:bold;	
	font-size:16px;
	font-family:Arial;	
	vertical-align:middle;
}
.RemarkMsg
{
	background-color: #AF2C6E;
	Color: White;
	text-align:right;
	font-weight:bold;	
}
.ErrDetailsMsg
{
	Color: #939393;
	text-align:right;
	font-weight:bold;
	text-align:right;
}

.ApprovalField
{
	background-color:#14AB49;
	color:White;
	font-weight:bold
}
.ErrField
{
	background-color:Red;
	color:White;
}
.opening_head
{
	font-family:Arial;
	font-size:23px;
	color:White;
	background-image:url(Images/opening-head.jpg); 
	text-align:right;
	padding:6px;
	font-weight:bold;
}

.opening_date
{
	font-family:Arial;
	background-image:url(Images/opening-date.jpg); 
	text-align:right;
	height:60px;
	width:236px;
	color:#717071;
	font-size:16px;
	padding:1px;
	font-weight:bolder;
}

.opening-mes
{
	font-family:Arial;
	background-image:url(Images/opening-system-mes.jpg); 
	text-align:right;
	height:307px;
	color:#717071;
	font-size:16px;
	padding:1px;
	font-weight:bolder;	
	}

.opening-quickmenu
{
	font-family:Arial;
	background-image:url(Images/opening-quickmenu.jpg); 
	text-align:right;
	height:170px;
	width:720px;
	color:#717071;
	font-size:16px;
	padding:1px;
	font-weight:bolder;	
	vertical-align:top;
	}	
	
.opening-btn
{
	font-family:Arial;
	background-image:url(Images/opening-btn.png); 
	background-repeat:no-repeat;
	background-color:#ECECEC;
	text-align:center;
	height:133px;
	width:133px;
	color:#717071;
	font-size:23px;
	font-weight:bolder;
	border:none;
}

legend
{
	font-family:Arial;
	font-size:14px;	
	font-weight:bold;
}

.Grid
{
	text-align:right;
	background-color:gray;
	border-left:solid 1px gray;
	border-top:solid 1px gray;
	direction:rtl;	
}

.GridHeader
{
	color:White;
	background-color:#717171;
	border-right:solid 1px #3F3F3F;
	height:20px;
	font-size:14px;
	font-weight:bold;
    border-bottom:solid 1px #3F3F3F;
    text-align:center;
    vertical-align:middle;
 }
 
.GridHeaderSecondary 
{
	color:Black;
	background-color:Silver;
	border-right:solid 1px #3F3F3F;
	height:20px;
	font-size:14px;
	font-weight:bold;
    border-bottom:solid 1px #3F3F3F;
    text-align:center;
    vertical-align:middle;
     padding-right:4px;

 }
 
.GridHeaderLinked
{
	color:White;
	cursor:pointer;
	text-decoration:underline;
}

.GridRow
{
	color:Black;
	background-color:#FCF9CD;
	height:20px;
	font-size:14px;
	font-weight:normal;
}
 
.GridAltRow
{
	color:Black;
	background-color:#FFFFFF;
	height:20px;
	font-size:14px;
	font-weight:normal;
}

.GridPager
{
	color:Black;
	background-color:#FCF9CD;
	height:20px;	
	font-size:15px;
	font-weight:bold;
	padding-left:10px;
	border-style:double;	
}

.GridPagerLarge
{
	color:Black;
	background-color:#FCF9CD;
	height:20px;	
	font-size:19px;
	font-weight:bold;
}

.GridEmptyData
{
	background-color:#FCF9CD;
	height:10px;
	text-indent:4px;
	font-size:14px;
	font-weight:normal;
	
}

.ItemRow
{
 border-right:solid 1px #3F3F3F;
 border-bottom:solid 1px #3F3F3F;
 padding-right:3px;
 font-size:14px;
 font-family:Arial;
}


.ItemRowLast
{
 border-right:solid 1px #3F3F3F;
  border-left:solid 1px #3F3F3F;
 border-bottom:solid 1px #3F3F3F;
 padding-right:4px;
 font-size:14px;
 font-family:Arial;
}

a
{
	color:#385C94;
}

.link
{
	color:#385C94;
	cursor:pointer;
	text-decoration:underline;
}



.autocomplete_completionListElement 
{  	
    overflow :auto;      
    border-width : 1px;
    border-style : solid;
    list-style-type : none;
    margin:0px;
     margin-right:20px;
    padding-right:1px;
    height:142px;
    z-index:400;  
    background-color:White;  
}

.autocomplete_completionListItemElement 
{  
  background-color:White;
  text-align:right;      
  font-size:12px;    
  z-index:400;
  margin:0px;
   padding-right:1px;
}

.autocomplete_completionListItemElement_Select 
{  
  background-color:Navy;
  color:White;
  text-align:right;
  font-size:12px;
  z-index:400;
  margin:0px;
   padding-right:1px;
  
}

.OvedDetailsHeader
{
	width:940;
	height:35;
	background-color:Gray;
	color:White;
	text-align:right;
	font-weight:bold;
	border-color:Black;
}
.OvedDetailsRow
{
	width:940;
	height:35;
	text-align:right;
	color:Gray;
}

.TitleLable
{
	color:Black;
	font-size:14px;
	font-family:Arial;
	padding:2px;
	font-weight:bolder;
}
.Progress
{
	color: Red;
	font-size:14px;
	font-family: Arial;
	height: 10px;
	width: 10px;
}

.CustomTabStyle .ajax__tab_active .ajax__tab_outer {
    background:url(Images/white.jpg);
    color:Gray;
    background-repeat:no-repeat;
    background-position:right;
}

.CustomTabStyle .ajax__tab_outer .ajax__tab_header
{
	 background:url(Images/grey.jpg);
    color:White;
    background-repeat:repeat-x;
    background-position:right;
   width:inherit; 
    height:31px;
    cursor:pointer;
    width:507px;
}	
	
.CustomTabStyle .ajax__tab_tab .ajax__tab_inner
{
   vertical-align:bottom;
   padding-top:3px;
   text-align:center;   
}
	
.CustomTabStyle .ajax__tab_outer {
    font-family:arial;
    font-size:17px;
   font-weight:bolder;
   text-align:center;
   padding-right:0px;
   width:169px;
   height:31px;
}

 
.CustomTabStyle .ajax__tab_outer.ajax__tab_header .ajax__tab_hover {

}



.CustomTabStyle .ajax__tab_body
{
	background-color: #F3F3F3;
	border-color:#BDBDBD;
	border-style: solid;
	border-width: 1px;
	height:300px;
	width:950px;
	padding-right:7px;
}

.title
{
    width:100%;
}
.LabelColumn
{
    width:30%;
    color:Black;	
	font-family:Arial;	
}
.content
{
    padding-bottom:1px;
    height:100%;
    border-color:Gray;
    border-style:solid;
    border-width:1px;
}
.PagerButton
{
    background-color: #494949;
    color:#ffffff;
    font-weight:bold;
    font-size:10;
}
.PagerButtonLink
{
    font-weight:bold;
}

.TextPositiveValue
{
	background-color :Green;
	color:White;
	
}

.TextNegativeValue
{
	background-color: Red;
	color:Yellow;
}


.TextBoxReadOnly
{
	 border-color: #cdcdcd;	 
	 border-style: solid;
	 width:100px;
	 border-width:1px;
}

.WorkCardLabel
{	
	font:16px;	
	color:Gray;
}

.StatusLabel
{	
	font:16px;	
	background-color:#D1D1D1;
	color: red;
	border-color:#6B6B6B;
	border-style:solid;
	border-width:1px;
	width:160px; 
	height:30px;
}
.WorkCardDDL
{
	border-color: #cdcdcd;	 
	border-style: solid;
	width:130px;	
	border-width:1px;
}

.ajax__validatorcallout_popup_table
{
   direction:ltr;
}

.ajax__validatorcallout_popup_table td
 {
  color:Red;
  text-align:right;
  font-family:Arial;
  font-size:12px;
 }

.CellListView
{
	font-family:Arial;
	font-size:12px;	
	text-align:center;	
	font-weight:bold;
	background-color:#627c98;	
	direction:rtl;	
	color: White;	
	border-left-color:White;
	border-left-style:solid;
	border-left-width:0.5px;
}

.CollapseContent
{
    background-color: #f5fbff;
    border:none;
    border-top: none;
    padding: 0px;
    padding-top: 0px;    
}

.CollapseHeader
{
 background-color:#d1e4f2;
 color: black;
 font-family:Arial;
 border:none;
 text-align:center;
}
.SidurCollapseHeader
{
 background-color:#d1e4f2;
 color: black;
 font-family:Arial;
 border:none;
 text-align:left;
}
.WorkCardSidurCollapse
{
 background-color:#d1e4f2;
 color: black;
 font-family:Arial;
 border:none;
 text-align:right;
}
.WorkCardSidur
{
 background-color:#d1e4f2;
 color: black;
 font-family:Arial;
 font-weight:bold;
 font-size:14px;
 border:none;
 text-align:center;
}
.WorkCardSidurErr
{
 background-color:#d1e4f2; 
 border:none;
 text-align:left;
}
.WorkCardSidurDummy
{
 background-color:#d1e4f2;
 color:#d1e4f2;
 border:none;
 text-align:right;
 height:30px;
 
}
.WCard_collapse_header
{
	text-align:right;
	background-color:#627c98;
	border-left:solid 1px white;	
	border-left-style:solid;	
	direction:rtl;	
	color: White;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
}

.wcard_header
{
	text-align:center;
	background-color:#ECF7FD;	
	direction:rtl;	
	color:black;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	border-style:solid;
	border-color:#D1E4F2;
	border-width:1px;
}
.wcard_footer
{
	text-align:right;
	background-color:white;	
	border-top:solid 1px #3F3F3F;
	direction:rtl;	
	color:white;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}
.wcard_footer_left
{
	text-align:right;
	background-color:white;
	border-top:solid 1px #3F3F3F;	
	direction:rtl;	
	color:white;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	border-left:solid 1px #3F3F3F;
}
.wcard_footer_right
{
	text-align:right;
	background-color:white;	
	border-top:solid 1px #3F3F3F;
	direction:rtl;	
	color:white;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	border-right:solid 1px #3F3F3F;
}
.work_card_ItemRow
{
 border-right:solid 1px #3F3F3F;
 border-bottom:solid 1px #3F3F3F;
 padding-right:4px;
 font-size:14px;
 font-family:Arial;
 color:White; 
}

.WCard_GridRow
{
 background-color :#F6FBFF; 
 padding-right:4px;
 font-size:14px;
 font-weight:normal;
 font-family:Arial;
}

.lstSidurDiv
{
	height:520px; 	
	overflow: auto;
	overflow-x: hidden; 	
	width : 100%;
}
.ErrGrid
{
	text-align:right;
	background-color:#3F3F3F;
	border-left:solid 1px #3F3F3F;
	border-top:solid 1px #3F3F3F;
	direction:rtl;	
	width: 430px;	
	overflow:auto;
}



.ErrBtnItemRowEnable
{
 background-color:#E1E1E1;
 border-right:solid 1px #3F3F3F;
 border-bottom:solid 1px #3F3F3F;
 padding-right:2px;
 font-size:12px;
 font-family:Arial;
 font-weight:bold;
 width:80px;
 height: 20px;
 color: black; 
}
.ErrBtnItemRow
{
 background-image: url(Images/btn-end-update.jpg);
 border-right:solid 1px #3F3F3F;
 border-bottom:solid 1px #3F3F3F;
 padding-right:2px;
 font-size:12px;
 font-family:Arial;
 width:80px;
 height: 20px;
 color: White;
}
.ErrItemRow
{
 border-right:solid 1px #3F3F3F;
 border-bottom:solid 1px #3F3F3F;
 padding-right:2px;
 font-size:12px;
 font-family:Arial;
 height: 20px;
 width:350px;
}
.DisabledField
{
	 Color:Gray;
	 background: white;
}



/**********************************/


.custom-calendar .ajax__calendar_container     
{
      background-color:#eef; /*#ffc;*/ /* pale yellow */
      border:solid 1px #666;  
      padding:4px;
      position:relative;
      cursor:default;
      width:170px;font-size:11px;
      text-align:center;
      font-family:tahoma,verdana,helvetica;
      height:155px;  
} 
.custom-calendar .ajax__calendar_title   
{ 
      background-color:#fff; /* #cf9;*/ /* pale green */ 
      height:20px;  
      color:#333; 
} 
.custom-calendar .ajax__calendar_prev,  
.custom-calendar .ajax__calendar_next   
{   
     background-color:#aaa; /* darker gray */ 
     height:20px;   
     width:15px;   
} 
.custom-calendar .ajax__calendar_today 
{ 
      background-color:#fff; /*#cff;*/  /* pale blue */ 
      height:15px;
      font-weight: bold;  
}  
.custom-calendar .ajax__calendar_days table thead tr td   
{
      background-color:#bdf; /*#ff9;*/ /* dark yellow */ 
      color:#333;  
        width:80px;   
}  
.custom-calendar .ajax__calendar_day     
{
      color:#333; /* normal day - darker gray color */ 
      
}  
.custom-calendar .ajax__calendar_other .ajax__calendar_day    
{
    display:none;
       /* color:#666; day not actually in this month - lighter gray color */ 
} 

.custom-calendar .ajax__calendar_hover .ajax__calendar_day,
.custom-calendar .ajax__calendar_hover .ajax__calendar_month,
.custom-calendar .ajax__calendar_hover .ajax__calendar_year,
.custom-calendar .ajax__calendar_active 
{    color: #004080;    
     font-weight: bold;  
     background-color: #ffffff;   
}
.custom-calendar .ajax__calendar_hover .ajax__calendar_title, 
.custom-calendar .ajax__calendar_hover .ajax__calendar_today 
{color:#0066cc;}
.custom-calendar .ajax__calendar_body {height:115px;width:170px;position:relative;overflow:hidden;margin:auto;}


.ddlHeight
{
	height:125px;
}

.modalBackground {
       background-color:#EEEEEE;
       filter:alpha(opacity=20);
       opacity:0.2;
}

.modalPopup {
       background-color:white;
       border-width:3px;
       border-style:solid;
       border-color:Gray;
       padding:3px;
       width:250px;
}

.MaskedEditFocus{
	background-color:#3399FF;
	color:White;
}         
.WorkCardTable1
{
	background-color:#d4e4f3;	
	font-size: 14px;
	height:24px;
	border-bottom-width:1px;
	border-bottom-color:White;
	border-bottom-style:solid;    
}
.WorkCardTable2
{
	background-color:#d4e4f3;	
	font-size: 14px;
	height:15px;	
}
.WorkCardTable1Label
{
	background-color:#d4e4f3;	
	font-weight:bold;	
	font-size:14px;    
    
}
.WorkCardTextBox
{
	 background-color:white;	
	 font-weight:bolder;	
	 width:100px;
	 height:20px;
	 border-style:none;
	 outline:#627c97;
	 text-align:center;
	 color:Black;
}
.WorkCardSidurTextBoxFocus
{
	background-color:#1A8CFF;
	color:white;	 
	font-weight:bold;
	font-family:Arial;
	font-size:14px;	
	width:100px;
	height:20px;
	border-style:none;	 
	text-align:center;	 
}
.WorkCardSidurTextBox
{
	 background-color:#F2F7FB;	
	 color:Black;	 
	 font-weight:bold;
	 font-family:Arial;
	 font-size:14px;	
	 width:100px;
	 height:20px;
	 border-style:none;	 
	 text-align:center;	 	 	 	 
}
.WorkCardSidurDropDown
{
	 background-color:#F2F7FB;	
	 font-weight:bolder;	
	 width:100px;
	 height:20px;	
	 text-align:center;	 
	 border-style:solid;
	 border-color:#E4EDF3;
	 border-width :1px;
}
.WorkCardPeilutTextBoxFocus
{
	 background-color:#1A8CFF;	
	 color:White;
	 font-weight:bolder;	
	 width:100px;
	 height:20px;	 
	 outline:#627c97;	 
	 text-align:center;	 
	 border-style:solid;
	 border-color:#E4EDF3;
	 border-width :1px;
	 font-size: 14px;
}	
.WorkCardPeilutTextBox
{
	 background-color:#F6FBFF;	
	 color:Black;
	 font-weight:bolder;	
	 width:100px;
	 height:20px;	 
	 outline:#627c97;	 
	 text-align:center;	 
	 border-style:solid;
	 border-color:#E4EDF3;
	 border-width :1px;
	 font-size: 14px;
}
.btnNextDayDis
{
	background-image: url(Images/B_nextDay_Dis.png);	
	background-position:center;		 
}
.btnPrevDayDis
{
	background-image: url(Images/B_prevDay_Dis.png);			
	background-position:center;
}
.btnNextDay
{
	background-image: url(Images/B_nextDay.png);	
	background-position:center;		 
}
.btnPrevDay
{
	background-image: url(Images/B_prevDay.png);			
	background-position:center;
}
.btnNextError
{
	background-image: url(Images/B_next_error.png);		
    background-position:center; 
    font-size: 17px;
    color: Black; 
}
.btnWorkCardPrint
{
	background-image: url(Images/B_print.png);		
    background-position:center;  
    width:30px;  
    height:30px;
    vertical-align:middle;
}
.btnWorkCardUpadte
{
	background-image: url(Images/B_update.png);		
    background-position:center;    
    font-family:Arial;
    text-align:left;
    font-weight:bold;
    font-size:19px;
    color:Black;
    height:30px;
    text-align:center;
}

.CardStatusValid
{
	background-color:#8dd761;
	color:White;	
	font-family: @Arial Unicode MS;
	font-size :x-large;
	font-weight :bolder;
}
.CardStatusError
{
	background-color:#e6212f;
	color:White;
	font-family: @Arial Unicode MS;
	font-size :x-large;
	font-weight :bolder;
}
.WorkCardTopBorder
{
	background-color:#EEF5FB;		 
	border-top-width:1px;
	border-top-color:#7a7978;
	border-top-style:solid;   
}
.WorkCardDivuchHeadrutMiddleTable
{
	background-color:#eef5fb;
}
.WorkCardDivuchHeadrutTopTable
{
	background-color:#d4e4f3;	
	font-weight:bold;	
	font-size:14px;    
	border-bottom-width:1px;
	border-bottom-color:#ffffff;
	border-bottom-style:inset;
}
.WorkCardDivuchHeadrutButtomTable
{
	background-color:#d4e4f3;		 
	border-top-width:1px;
	border-top-color:#7a7978;
	border-top-style:solid;   
}
.WorkCardDivuchHeadrutTextBox
{
	background-color:#F6FBFF;		 
	border-width:1px;
	border-color:#D4E4F3;
	border-style:solid;   
	color:Black;
}
.WorkCardTdBorder
{
	background-color:#d4e4f3;	
	font-weight:bold;	 
	font-size: 14px;		
	border-left-width:1px;
	border-left-color:White;
	border-left-style:solid;    
}
.WorkCardTableBottom
{	
	height:80px;	
}
.WorkCardTableBottomTrTop
{	
	background-color: #eef6fc;
	height:40px;	
}
.WorkCardTableBottomTrBottom
{	
	background-color: #d4e4f3;
	height:40px;	
}
.WorkCardError
{
	background-color:#F6FBFF;
}
.WorkCardErrorLine
{
	background-color: #EDF4FA;
	font-family: Arial;	
	font-size:14px;
	height:40px;
}
.btnWorkCardAddMap
{
	background-image: url(Images/B_AddMap_reg.png);	
	font-size:14px;
	font-family:Arial;	
	padding-top:0px;
	padding-bottom:0px;
	height:30px;
	font-weight:bold;
	color: #627c98;
	cursor:pointer;
	background-position:center;
	background-attachment:inherit;	
}
.btnWorkCardAddSpecial
{
	background-image: url(Images/B_AddSpecial_reg.png);	
	font-size:14px;
	font-family:Arial;	
	padding-top:0px;
	padding-bottom:0px;
	height:30px;
	font-weight:bold;
	color: #627c98;
	cursor:pointer;
	background-position:center;
	background-attachment:inherit;	
}
.btnWorkCardCalculate
{
	background-image: url(Images/B_callculated_reg.png);	
	font-size:14px;
	font-family:Arial;	
	padding-top:0px;
	padding-bottom:0px;
	height:30px;
	font-weight:bold;
	color: #627c98;
	cursor:pointer;
	background-position:center;
	background-attachment:inherit;	
}
.btnWorkCardCalculateDis
{
	background-image: url(Images/B_callculated_Dis.png);	
	font-size:14px;
	font-family:Arial;	
	padding-top:0px;
	padding-bottom:0px;
	height:30px;
	font-weight:bold;
	color: #627c98;
	cursor:pointer;
	background-position:center;
	background-attachment:inherit;	
	
}
.btnWorkCancelErrorDisabled
{
	background-image: url(Images/B_cancelError_Dis.png);	
	font-size:14px;
	font-family:Arial;
	font-weight:bold;	
	padding-top:0px;
	padding-bottom:0px;
	height:30px;
	font-weight:bold;
	color: #115799;
	cursor:pointer;
	background-position:center;
	background-attachment:inherit;	
}
.btnWorkCancelError
{	
	background-image: url(Images/B_cancelError_reg.png);	
	font-size:14px;
	font-family:Arial;
	font-weight:bold;	
	padding-top:0px;
	padding-bottom:0px;
	height:30px;
	font-weight:bold;
	color: #115799;
	cursor:pointer;
	background-position:center;
	background-attachment:inherit;	
}
.btnWorkCardCloseWin
{	
	background-image: url(Images/B_closeWin_reg.png);	
	font-size:14px;
	font-family:Arial;
	font-weight:bold;	
	padding-top:0px;
	padding-bottom:0px;
	height:33px;
	font-weight:bold;
	color: #115799;
	cursor:pointer;
	background-position:center;
	background-attachment:inherit;	
}
.btnWorkCardUpdate
{	
	background-image: url(Images/B_Move2Approve_reg.png);	
	font-size:14px;
	font-family:Arial;
	font-weight:bold;	
	padding-top:0px;
	padding-bottom:0px;
	height:30px;
	font-weight:bold;
	color: #115799;
	cursor:pointer;
	background-position:center;
	background-attachment:inherit;	
}
.btnWorkCardUpdateDisabled
{	
	background-image: url(Images/B_Move2Approve_Dis.png);	
	font-size:14px;
	font-family:Arial;
	font-weight:bold;	
	padding-top:0px;
	padding-bottom:0px;
	height:30px;
	font-weight:bold;
	color: #115799;
	cursor:pointer;
	background-position:center;
	background-attachment:inherit;	
}
.btnWorkCardLongUpdate
{
	background-image: url(Images/B_updateLong_reg.png);	
	font-size:14px;
	font-family:Arial;	
	padding-top:0px;
	padding-bottom:0px;
	height:30px;
	font-weight:bold;
	color: #115799;
	cursor:pointer;
	background-position:center;
	background-attachment:inherit;	
}
.btnWorkCardLong
{
	background-image: url(Images/B_updateLong_reg.png);	
	font-size:14px;
	font-family:Arial;	
	padding-top:0px;
	padding-bottom:0px;
	height:30px;
	font-weight:bold;
	color: #627c98;
	cursor:pointer;
	background-position:center;
	background-attachment:inherit;	
}
.btnWorkCardLongDis
{
	background-image: url(Images/B_updateLong_Dis.png);	
	font-size:14px;
	font-family:Arial;	
	padding-top:0px;
	padding-bottom:0px;
	height:30px;
	font-weight:bold;
	color: #627c98;
	cursor:pointer;
	background-position:center;
	background-attachment:inherit;	
	
}
.btnWorkCardCloseCard
{
	background-image: url(Images/B_close_reg.png);	
	font-size:14px;
	font-family:Arial;	
	padding-top:0px;
	padding-bottom:0px;
	height:30px;
	font-weight:bold;
	color: #627c98;
	cursor:pointer;
	background-position:center;
	background-attachment:inherit;	
}
.btnWorkCardClocks
{
	background-image: url(Images/B_clocks_reg.png);	
	font-size:14px;
	font-family:Arial;	
	padding-top:0px;
	padding-bottom:0px;
	height:30px;
	font-weight:bold;
	color: #627c98;
	cursor:pointer;
	background-position:center;
	background-attachment:inherit;	
}
.btnWorkCardLeft
{
	background-image: url(Images/B_left.png);	
	background-repeat:no-repeat;		
}
.btnWorkCardRight
{
	background-image: url(Images/B_right.png);	
	background-repeat:no-repeat;
			
}
.btnWorkCardMid
{
	background-image: url(Images/B_Mid.png);		
	background-repeat:repeat;	
	border:none;
	width:100px;	
}
.btnGeneral
{		
	width:60px; 
	font-size:16px;
	font-family:Arial;
	padding-top:0px;
	padding-bottom:0px;
	height:19px;
	font-weight:bolder;
	color: #627c98;
	cursor:pointer;
	background-position:center;
	background-attachment:inherit;	
}

.WorkCardTabs
{
 filter:border:solid 1px #627c97 progid:DXImageTransform.Microsoft.gradient 
	(GradientType=0,startColorstr=#aabfd7, endColorstr=#c2d4e9);

 outline-color:#9BB0C9;
 outline-style:solid;
 outline-width:0.8px;
 height:20px;
 font-family:Arial;
 font-weight:normal;  
}
.WorkCardCheckBox
{
	background-image:url(Images/checkbox.png);	
	border-style:none;	
	border:0px;
	background-image: #7695b7;
	Outline: white;

	
}
.WorkCardPeilutLabel
{
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	text-align:center;
}