<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DebugModeUserName" value="true"/>
    <add key="DebugUserName" value="EGGED_D\igalr"/>
  
    <add key="KDS_CONNECTION" value="Password=maayan;User ID=kdsadmin;Data Source=kdstst"/>
    <!--<add key="KDS_CONNECTION" value="Password=nghhi09;User ID=kdsadmin;Data Source=kdsprd"/>-->
    <add key="KDS_TNPR_CONNECTION" value="Password=KDS_GW030160;User ID=kds_gw;Data Source=tnpr"/>
    <add key="KDS_APPS_CONNECTION" value="Password=maayan;User ID=kds_gw;Data Source=prod"/>
    <add key="PeilyutCacheTimeOutMinutes" value="30"/>
  </appSettings>
</configuration>