<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
  <appSettings>
    <add key="ServerReports" value="http://kdstst02/ReportServer"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OperatorSleepTime" value="10"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DisplayNameServer" value="Kdam Sahar Test" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="PathFileMF" value="C:\\PrintFiles\kds\MF\Test" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="PathFileMFOld" value="C:\\PrintFiles\kds\MF\Test\Old\" xdt:Transform="Insert" xdt:Locator="Match(key)"/>

    <add key="KdsFilePath" value="\\kdstst02\Files\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SdrnStatTimes" value="2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RecipientsMailList" value="meravn@egged.co.il;LiatAh@egged.co.il;rutybe@egged.co.il;miris@egged.co.il;tomerh@egged.co.il" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="KdsInputFileNamePundakim" value="collectmodem*.dat" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="KdsFilePathPundakim" value="\\kdstst02\Files\" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="KdsFileSubPathPundakim" value="" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <!--<add key="SmtpHost" value="outlook.egged.co.il" xdt:Transform="Remove"  xdt:Locator="Match(key)"/>
    <add key="UserMail" value="EGGED_D\runbatch" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="PasswordMail" value="runbatch" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="DisplayNameServer" value="Kdam Sachar" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="NoRep" value="donotreply@egged.co.il" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>-->
  </appSettings>
  <!--<system.web xdt:Transform="Remove">
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    --><!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    --><!--
  </system.web>-->
  <system.serviceModel  xdt:Transform="Replace">
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBatchService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://kdscalc:8732/KdsService/Test/" binding="wsHttpBinding"
        bindingConfiguration="" contract="KDSCommon.Interfaces.Service.IBatchService"
        name="" kind="" endpointConfiguration="">
      </endpoint>
    </client>
  </system.serviceModel>

</configuration>
