<suite name="Suite">

    <test name="Work_Card">
    
	

		<classes>

		    <class name="automationFramework.Test_Update_Car_No" />
		    <class name="automationFramework.Test_Update_Day_WorkCard" />
            <class name="automationFramework.Test_Empty_Activity_Mapa" />
            <class name="automationFramework.Test_Empty_Activity_Between" />
            
            
		</classes>

    </test>
    
    
     <test name="EmployeeCards">
    
	

		<classes>

		    <class name="automationFramework.Test_EmployeeCards" />
		    

		</classes>

    </test>
    
    
    
    
    
    
    
    
    
    

</suite>
