<suite name="KDS">

    <test name="Work_Card">
    
	

		<classes>

	        <class name="automationFramework.Test_Update_Car_No" />
		    <class name="automationFramework.Test_Update_Day_WorkCard" />
            <class name="automationFramework.Test_Empty_Activity_Mapa" />
            <class name="automationFramework.Test_Empty_Activity_Between" />
            <class name="automationFramework.AddAbsences" />
            <class name="automationFramework.Test_Add_Activity" />  
            <class name="automationFramework.Test_Add_Special_Schedule" />  
            <class name="automationFramework.Test_Menahel_Bameshek" />
            <class name="automationFramework.Test_Add_Schedule_Mapa" /> 
            <class name="automationFramework.Test_open_Rechivim_Errors" /> 
            
		</classes>



	
  
  
    </test>
    
    
     <test name="Kds_Pages">
    
	

		<classes>

		   <class name="automationFramework.Test_EmployeeCards" /> 
		     <!--  <class name="automationFramework.Test_Open_Rikuz_Online" /> -->

		</classes>
		

		
		

    </test>
    
    
    
    
    
    
    
    
    

</suite>
