<div class="row WorkCardTable1Label" style="height:40px">
    <div class="col-md-1">התייצבות 1:</div>
    <div class="col-md-1"><input type="text" style="width:150px" ng-model="vm.FirstHityazvut.Value" ng-readonly="vm.FirstHityazvut.ValuReadOnly" /></div>
    <div class="col-md-1">סיבת אי התייצבות:</div>
    <div class="col-md-1">
        <select ng-model="vm.FirstHityazvut.KodSiba" ng-options="i.Value as i.Description for i in vm.SibotDivuachList" ng-disabled="!vm.FirstHityazvut.KodSibaEnabled" ng-change="DisabledControls()">
            <option value="0" selected></option>
        </select>

    </div>
    <div class="col-md-1" style="margin-right:20px;">התייצבות 2:</div>
    <div class="col-md-1"><input type="text" style="width:150px" ng-model="vm.SecondHityazvut.Value" ng-readonly="vm.SecondHityazvut.ValuReadOnly" ng-change="DisabledControls()" /></div>
    <div class="col-md-1">סיבת אי התייצבות:</div>
    <div class="col-md-1">
        <select ng-model="vm.SecondHityazvut.KodSiba" ng-options="i.Value as i.Description for i in vm.SibotDivuachList" ng-disabled="!vm.SecondHityazvut.KodSibaEnabled" ng-change="DisabledControls()">
            <option value="0" selected></option>
        </select>

    </div>
</div>