<?xml version="1.0"?>
<configuration>
  <appSettings>
     <add key="KDS_CONNECTION" value="Password=nghhi24;User ID=kdsadmin_gw;Data Source=kdstst"/> 
    <!--<add key="KDS_CONNECTION" value="Password=maayan;User ID=kdsadmin;Data Source=kdstst"/>-->
    <!--<add key="KDS_CONNECTION" value="Password=nghhi09;User ID=kdsadmin;Data Source=kdsprd"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
