<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections xdt:Transform="Insert" >
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KdsBatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
 
    
  <appSettings>

    <add key="ServerReports" value="http://kdstst02/ReportServer"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OperatorSleepTime" value="10"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DisplayNameServer" value="Kdam Sahar Test" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="PathFileMF" value="C:\\PrintFiles\kds\MF\Test" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="PathFileMFOld" value="C:\\PrintFiles\kds\MF\Test\Old\" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
   
    <add key="KdsFilePath" value="\\kdstst02\Files\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SdrnStatTimes" value="2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RecipientsMailList" value="meravn@egged.co.il;LiatAh@egged.co.il;rutybe@egged.co.il;miris@egged.co.il" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="KdsInputFileNamePundakim" value="collectmodem*.dat" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="KdsFilePathPundakim" value="\\kdstst02\Files\" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="KdsFileSubPathPundakim" value="" xdt:Transform="Insert" xdt:Locator="Match(key)"/>


    <!--Premyot-->
    <add key="RSUserName" value="runbatch" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="RSPassword" value="runbatch" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="RSDomain" value="EGGED_D" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
  </appSettings>

  <startup xdt:Transform="Remove" >
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <applicationSettings xdt:Transform="Insert" >
    <KdsBatch.Properties.Settings>
      <setting name="KdsBatch_premyot_wsPremyot" serializeAs="String">
        <value>http://premyottst.egged.intra/wsPremyot.asmx</value>
      </setting>
    </KdsBatch.Properties.Settings>
  </applicationSettings>
</configuration>