<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="KDS_CONNECTION" value="Password=nghhi24;User ID=kdsadmin_gw;Data Source=kdsprd"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ImpersonateUser" value="false"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HeavyReportsPath" value="\\kdsappl02\PrintFiles\HeavyReports\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HeavyReportsUrl" value="http://kdsappl02/HeavyReports/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ServerReports" value="http://kdsappl01/ReportServer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReportingServices.reportExecution2005" value="http://kdsappl01/ReportServer/ReportExecution2005.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="KdsFilePath" value="\\kdsappl02\Files\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DisplayNameServer" value="Kdam Sachar-Prod"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DriverStation.WSkds" value="http://kioskkds/WSkds.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CompareImportPath" value="\\kdsappl02\Files"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PathFileReportsTemp" value="\\\\kdsappl01\\PrintFiles\\kds\\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PathFilePrintReports" value="\\\\kdsappl02\\PrintFiles\\kds\\"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
    <add key="url_2008" value="http://kdsappl01/ReportServer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="service_url_2008" value="http://kdsappl01/ReportServer/ReportExecution2005.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="url_2012" value="http://ksafimrs01/ReportServer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="service_url_2012" value="http://ksafimrs01/ReportServer/ReportExecution2005.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)" />

  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>