<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>

    <add key="HeavyReportsPath" value="\\kdstest\PrintFiles\HeavyReports\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HeavyReportsUrl" value="http://kdstest/HeavyReports/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PathFileReportsTemp" value="\\\\kdstst02\\PrintFiles\\kds\\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PathFilePrintReports" value="\\\\kdstst02\\PrintFiles\\kds\\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CompareImportPath" value="\\kdstst02\Files" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DisabledFieldsDriverStation" value="false"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="fullPhysPathRikuzDoc" value="C:\\PrintFiles\kds\Rikuzim" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="fullPhysPathHefreshDoc" value="C:\\PrintFiles\kds\RikuzimHefresh" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SadeLeloErech" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="VersionNumber" value="1.7" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
    <add key="PathFileMF" value="C:\\PrintFiles\kds\MF\"  xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="KdsInputFileNamePundakim" value="collectmodem.dat" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="KdsFilePathPundakim" value="\\kiwi\" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="KdsFileSubPathPundakim" value="synel\" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="ReportViewer" value="http://kdstest/" xdt:Transform="Insert" />

  </appSettings>

  <system.web  xdt:Transform="Replace">
    <sessionState timeout="20"></sessionState>

    <webServices>

      <protocols>

        <add name="HttpGet" />

        <add name="HttpPost" />

      </protocols>
    </webServices>
    <customErrors mode="Off" />
    <identity impersonate="false" />
    <authentication mode="Windows" />
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="he-IL" uiCulture="he-IL" />

    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="Oracle.DataAccess, Version=4.112.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />



      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorHandlingModule" type="KdsLibrary.Utils.KdsErrorHttpModule, KdsLibrary" />
    </httpModules>
    <httpRuntime maxRequestLength="10240" requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" >
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="Saplin.Controls" assembly="DropDownCheckBoxes"/>
      </controls>
    </pages>
  </system.web>



  <system.serviceModel  xdt:Transform="Replace">
    <bindings>
      <basicHttpBinding>
        <binding name="ExchangeInfoServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBatchService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>

      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tlv7-new/ExchangeInfo2008/ExchangeInfoService.asmx" binding="basicHttpBinding" bindingConfiguration="ExchangeInfoServiceSoap" contract="Exchange.ExchangeInfoServiceSoap" name="ExchangeInfoServiceSoap" />
      <!--<endpoint address="http://localhost:8731/KdsService/BatchService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBatchService" contract="KdsServiceProxy.IBatchService" name="WSHttpBinding_IBatchService">-->
      <endpoint address="http://kdscalc:8742/KdsService/Test/" binding="wsHttpBinding"
       bindingConfiguration="" contract="KDSCommon.Interfaces.Service.IBatchService"
       name="" kind="" endpointConfiguration="">
      </endpoint>
    </client>
  </system.serviceModel>
  
  <!--<system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="http://tlv7-new/ExchangeInfo2008/ExchangeInfoService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ExchangeInfoServiceSoap"
        contract="Exchange.ExchangeInfoServiceSoap" name="ExchangeInfoServiceSoap" />
      <endpoint address="http://localhost:9999/KdsLocalService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IBatchService" contract="KdsServiceProxy.IBatchService"
        name="WSHttpBinding_IBatchService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:1111/KdsLocalService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IBatchService5" contract="KdsServiceProxy.IBatchService"
        name="WSHttpBinding_IBatchService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>-->
  <!--<system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    --><!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    --><!--
  </system.web>-->
</configuration>