<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="KDS_CONNECTION" value="Password=maayan;User ID=kdsadmin;Data Source=kdstst"/>
    <add key="Debug" value="1"/>
    <add key="EventLogSource" value="KdsTaskManager"/>
    <add key="ServerReports" value="http://kdstst01/ReportServer"/>
    <add key="OperatorSleepTime" value="10"/>  <!--every 10 minutes-->
    <!--time in sec-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="NoRep" value="donotreply@egged.co.il"/>
    <add key="SmtpHost" value="Mail01"/>
    <!--scheduler parameter-->
    <add key="LogistKdsFilePath" value="\\fileserver01\public\Machlakot R-W\BitzueiOved\kds\"/>
    <add key="KdsInputFileName" value="DO1-KDS*.TXT"/>
    <add key="KdsFilePath" value="\\kdstst01\Files\"/>
    <add key="KdsFileSubPath" value="inkds_old\"/>
    <add key="miri" value="miris@egged.co.il"/>
    <add key="merav" value="meravn@egged.co.il"/>
    <add key="SdrnStrtHour" value="5"/>
    <add key="SdrnStatTimes" value="2"/>
    <add key="SdrnReRunPar" value="10"/>
    <add key="DisplayNameServer" value="KdsTaskM-anager"/>
    <add key="RecipientsMailList" value="ruth@esi.co.il;miris@egged.co.il;meravn@egged.co.il;davidp@egged.co.il"/>
    <!--scheduler parameter-->

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.dataaccess.client>
    <settings>
      <add name="OBJ_LOGTASKMSG" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_LOGTASKMSGFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_LOGTASKMSG'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_CHISHUV_CHODESH" value="udtMapping factoryName='KdsLibrary.UDT.COLL_CHISHUV_CHODESHFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_CHISHUV_CHODESH'        schemaName='KDSADMIN' dataSource='kdsprd'" />
      <add name="OBJ_CHISHUV_CHODESH" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_CHISHUV_CHODESHFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_CHISHUV_CHODESH'        schemaName='KDSADMIN' dataSource='kdsprd'" />
      <add name="COLL_CHISHUV_YOMI" value="udtMapping factoryName='KdsLibrary.UDT.COLL_CHISHUV_YOMIFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_CHISHUV_YOMI'        schemaName='KDSADMIN' dataSource='kdsprd'" />
      <add name="OBJ_CHISHUV_YOMI" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_CHISHUV_YOMIFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_CHISHUV_YOMI'        schemaName='KDSADMIN' dataSource='kdsprd'" />
      <add name="COLL_CHISHUV_SIDUR" value="udtMapping factoryName='KdsLibrary.UDT.COLL_CHISHUV_SIDURFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_CHISHUV_SIDUR'        schemaName='KDSADMIN' dataSource='kdsprd'" />
      <add name="OBJ_CHISHUV_SIDUR" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_CHISHUV_SIDURFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_CHISHUV_SIDUR'        schemaName='KDSADMIN' dataSource='kdsprd'" />
      <add name="COLL_YAMEY_AVODA_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.COLL_YAMEY_AVODA_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_YAMEY_AVODA_OVDIM'        schemaName='KDSADMIN' dataSource='kdsprd'" />
      <add name="OBJ_YAMEY_AVODA_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_YAMEY_AVODA_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_YAMEY_AVODA_OVDIM'        schemaName='KDSADMIN' dataSource='kdsprd'" />
      <add name="COLL_SIDURIM_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.COLL_SIDURIM_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_SIDURIM_OVDIM'        schemaName='KDSADMIN' dataSource='kdsprd'" />
      <add name="OBJ_SIDURIM_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_SIDURIM_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_SIDURIM_OVDIM'        schemaName='KDSADMIN' dataSource='kdsprd'" />
      <add name="COLL_OBJ_PEILUT_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.COLL_OBJ_PEILUT_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_OBJ_PEILUT_OVDIM'        schemaName='KDSADMIN' dataSource='kdsprd'" />
      <add name="OBJ_PEILUT_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_PEILUT_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_PEILUT_OVDIM'        schemaName='KDSADMIN' dataSource='kdsprd'" />
      <add name="OBJ_SHGIOT_MEUSHAROT" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_SHGIOT_MEUSHAROTFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_SHGIOT_MEUSHAROT'        schemaName='KDSADMIN' dataSource='kdsprd'"/>

      <add name="OBJ_OVDIM_IM_SHINUY_HR" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_OVDIM_IM_SHINUY_HRFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_OVDIM_IM_SHINUY_HR'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_OVDIM_IM_SHINUY_HR" value="udtMapping factoryName='KdsLibrary.UDT.COLL_OVDIM_IM_SHINUY_HRFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_OVDIM_IM_SHINUY_HR'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_BREROT_MECHDAL_MEAFYENIM" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_BREROT_MECHDAL_MEAFYENIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_BREROT_MECHDAL_MEAFYENIM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_BREROT_MECHDAL_MEAFYENIM" value="udtMapping factoryName='KdsLibrary.UDT.COLL_BREROT_MECHDAL_MEAFYENIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_BREROT_MECHDAL_MEAFYENIM'        schemaName='KDSADMIN' dataSource='kdstst'"/>

    </settings>
  </oracle.dataaccess.client>
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
