<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="KDS_CONNECTION" value="Password=nghhi09;User ID=kdsadmin;Data Source=kdsprd"/>
    <!--<add key="KDS_CONNECTION" value="Password=maayan;User ID=kdsadmin;Data Source=kdstst"/>-->
    <add key="KDS_TNPR_CONNECTION" value="Password=KDS_GW030160;User ID=kds_gw;Data Source=tnpr"/>
    <add key="KDS_APPS_CONNECTION" value="Password=maayan;User ID=kds_gw;Data Source=prod"/>
    <add key="UsingCache" value="1"/>
    <add key="CacheTimeOutMinutes" value="1440"/>
    <add key="ImpersonateUser" value="false"/>
    <add key="DebugModeUserName" value="false"/>
    <add key="DebugUserName" value="EGGED_D\yossitz"/>
    <add key="DebugModeProfile" value="false"/>
    <add key="DebugProfile" value="kds_administrators,Kds_Premia101,Kds_Premia102"/>
    <add key="HeavyReportsPath" value="C:\PrintFiles\HeavyReports\"/>
    <add key="HeavyReportsUrl" value="http://localhost/HeavyReports/"/>
    <add key="RSUserName" value="runbatch"/>
    <add key="RSPassword" value="runbatch"/>
    <add key="RSDomain" value="EGGED_D"/>
    <add key="RSFolderApplication" value="/KdsReports/"/>
    <add key="ServerReports" value="http://kdstst01/ReportServer"/>
    <add key="ReportingServices.reportExecution2005" value="http://kdstst01/ReportServer/ReportExecution2005.asmx"/>
    <add key="DebugBatchPopulation" value="false"/>
    <!-- KdsInput -->
    <add key="LogistKdsFilePath" value="\\fileserver01\public\Machlakot R-W\BitzueiOved\kds\"/>
    <add key="KdsInputFileName" value="DO1-KDS*.TXT"/>
    <add key="KdsFilePath" value="\\kdamsachar01\Files\"/>
    <add key="KdsFileSubPath" value="inkds_old\"/>
    <add key="PathFileTransfer" value="C:\\PrintFiles\kds\"/>
    <add key="BlankCharFileHilan" value=" "/>
    <add key="PathFileReports" value="C:\\PrintFiles\kds\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DisplayNameServer" value="מערכת קדם שכר"/>
    <add key="NoRep" value="donotreply@egged.co.il"/>
    <add key="SmtpHost" value="Mail01"/>
    <!--Premia Calculation-->
    <add key="PremiaFolder" value="C:\Files\Premia"/>
    <add key="PremiaInputFile" value="נוכחות.xls"/>
    <add key="PremiaMacroFile" value="תוצר.xlsm"/>
    <!--Batch Calculation-->
    <add key="CntOfprocesses" value="5"/>
    <add key="KdsCalculPath" value="C:\Dev\Kds\Main\Kds\KdsCalcul\bin\Debug\"/>
    <add key="KdsCalculFileName" value="KdsCalcul.exe"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="KdsService.Service1Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="KdsService.Service1Behavior" name="KdsService.BatchService">
        <endpoint address="" binding="wsHttpBinding" contract="KdsService.IBatchService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/KdsService/BatchService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.dataaccess.client>
    <settings>
      <add name="COLL_CHISHUV_CHODESH" value="udtMapping factoryName='KdsLibrary.UDT.COLL_CHISHUV_CHODESHFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_CHISHUV_CHODESH'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_CHISHUV_CHODESH" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_CHISHUV_CHODESHFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_CHISHUV_CHODESH'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_CHISHUV_YOMI" value="udtMapping factoryName='KdsLibrary.UDT.COLL_CHISHUV_YOMIFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_CHISHUV_YOMI'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_CHISHUV_YOMI" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_CHISHUV_YOMIFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_CHISHUV_YOMI'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_CHISHUV_SIDUR" value="udtMapping factoryName='KdsLibrary.UDT.COLL_CHISHUV_SIDURFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_CHISHUV_SIDUR'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_CHISHUV_SIDUR" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_CHISHUV_SIDURFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_CHISHUV_SIDUR'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_YAMEY_AVODA_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.COLL_YAMEY_AVODA_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_YAMEY_AVODA_OVDIM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_YAMEY_AVODA_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_YAMEY_AVODA_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_YAMEY_AVODA_OVDIM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_SIDURIM_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.COLL_SIDURIM_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_SIDURIM_OVDIM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_SIDURIM_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_SIDURIM_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_SIDURIM_OVDIM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_OBJ_PEILUT_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.COLL_OBJ_PEILUT_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_OBJ_PEILUT_OVDIM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_PEILUT_OVDIM" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_PEILUT_OVDIMFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_PEILUT_OVDIM'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_SHGIOT_MEUSHAROT" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_SHGIOT_MEUSHAROTFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_SHGIOT_MEUSHAROT'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="OBJ_IDKUN_RASHEMET" value="udtMapping factoryName='KdsLibrary.UDT.OBJ_IDKUN_RASHEMETFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='OBJ_IDKUN_RASHEMET'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="COLL_IDKUN_RASHEMET" value="udtMapping factoryName='KdsLibrary.UDT.COLL_IDKUN_RASHEMETFactory, KdsLibrary,        Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' typeName='COLL_IDKUN_RASHEMET'        schemaName='KDSADMIN' dataSource='kdstst'"/>
      <add name="TraceFileName" value="c:\odpnet1.trc"/>
      <add name="TraceLevel" value="63"/>
    </settings>
  </oracle.dataaccess.client>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
