<html ng-app="workCard" dir="rtl">
<head>
    <script src="../../../Js/jquery-1.11.1.min.js"></script>
    <link href="../../../Content/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="../../../Content/css/ng-modal.css" rel="stylesheet" />
    <link href="../../../StyleSheet.css"  rel="stylesheet" /> 
    <script src="../../../Scripts/bootstrap-rtl.js"></script> 
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script src="../../../Scripts/angular.js"></script>
    <script src="../../../Scripts/angular-route.js"></script>
    <script src="../../app.js" ></script>
    <script src="../../workCardModule/config.js"></script>
    <script src="../../workCardModule/controllers/ovedDailyWork/ovedDailyWorkDetailsController.js"></script>
    <script src="../../workCardModule/controllers/ovedDailyWork/ovedHityazvutDetailsController.js"></script>
    <script src="../../workCardModule/controllers/ovedDailyDetailsController.js"></script>
    <script src="../../workCardModule/controllers/mainWorkCardController.js"></script>
    <script src="../../workCardModule/controllers/ovedGeneralDetailsController.js"></script>
    <script src="../controllers/ovedPeiluyotController.js"></script>
    <script src="../../directives/ngModalDirective.js"></script>
    <script src="../../workCardModule/services/apiProvider.js"></script>
    <script src="../../workCardModule/services/workCardStateService.js"></script>
</head>
<body>
    <div ng-controller="mainWorkCardController">
        <div ng-include="'workCardDetails/ovedGeneralDetailsView.html'"></div>
        <div ng-include="'workCardDetails/ovedDailyDetailsView.html'"></div>
        <div ng-include="'workCardDetails/ovedPeiluyotView.html'"></div>
    </div>
</body>
</html>
